{% extends "layout/frontend.layout.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block content %}
<div class="content_page_login">
<div class="container">
 <div class="col-md-6 login-form">
        <h2 class="mb-4">{{'users.forgot_password.title'|trans}}</h2>
        <p class="text-muted mb-4 d-flex justify-content-center">{{'users.forgot_password.instruction'|trans}}</p>
        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash }}
            </div>
        {% endfor %}
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        {{form_start(form)}}
            <div class="mb-3">
               {{form_row(form.email)}}
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">{{'users.forgot_password.form.submit.update'|trans}}</button>
             <div class="mb-3 d-flex justify-content-center">
                <a href="{{path('app_security')}}" class="lien_password">{{'users.forgot_password.form.submit.cancel'|trans}}</a>
            </div>
        {{form_end(form)}}
    </div>
    </div>
    </div>
{% endblock %}