{% extends "layout/frontend.layout.html.twig" %}
{% block content %}
<div class="content_page_login">
<div class="container">
    <div class="col-md-6 login-form">
        <h2 class="mb-4">{{'users.reset_passwords.title'|trans}}</h2>
        <p class="text-muted mb-4 d-flex justify-content-center">{{'users.reset_passwords.form.instruction'|trans}}</p>
        {% for flash in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash }}
            </div>
        {% endfor %}
        {% for flash in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash }}
            </div>
        {% endfor %}
        {{form_start(form)}}
            <div class="mb-3">
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            {% if form_errors(form.password) %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.password) }}
                    </div>
            {% endif %}
            <div class="mb-3">
                {{ form_label(form.password_confirmation) }}
                {{ form_widget(form.password_confirmation) }}
            </div>
             {% if form_errors(form.password_confirmation) %}
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.password_confirmation) }}
                    </div>
            {% endif %}
            <button type="submit" class="btn btn-primary w-100 mb-3">{{'users.reset_passwords.form.submit.update'|trans}}</button>
             <div class="mb-3 d-flex justify-content-center">
                <a href="{{path('app_security')}}" class="lien_password">{{'users.reset_passwords.form.submit.cancel'|trans}}</a>
            </div>
        {{form_end(form)}}
    </div>
    </div>
    </div>
{% endblock %}