{% extends "layout/frontend.layout.html.twig" %}
{% block content %}
	<div class="content_page_nettoyage">
		<div class="content_nettoyage_top">
			<div class="container">
				<div class="content_nettoyage_top_inner">
					<div class="content_bloc_verte">
						<div class="row">
							<div class="col-md-5">
								<div class="content_image_left_nettoyage">
									<svg xmlns="http://www.w3.org/2000/svg" width="249" height="131" viewbox="0 0 249 131" fill="none">
										<path d="M226.024 100.183C224.26 99.1507 221.47 94.0616 220.754 90.5796C219.881 86.3451 220.789 86.552 222.252 90.9211C223.807 95.5622 227.173 98.0434 229.703 96.4187C230.706 95.7735 232.257 93.4763 233.146 91.3146C235.1 86.559 235.676 88.9355 233.787 93.9648C231.729 99.442 228.782 101.802 226.024 100.183ZM216.406 98.8321C213.084 97.6051 210.184 91.0426 210.964 86.5124C211.235 84.9439 211.512 85.3638 212.351 88.6565C213.578 93.4648 216.403 96.5322 219.042 95.9231C221.096 95.4522 221.585 97.0541 219.83 98.5099C218.458 99.6418 218.578 99.6304 216.406 98.8321ZM235.618 84.2178C235.596 83.7434 236.64 82.321 237.975 81.0457C241.946 77.268 242.863 69.9582 240.607 60.0457L239.851 56.7249L241.294 58.8813C243.244 61.7946 244.372 69.7514 243.569 74.9452C242.797 79.9542 240.374 83.9775 237.758 84.5892C236.62 84.8577 235.657 84.6913 235.618 84.2178ZM209.405 82.27C208.509 81.5729 207.512 79.765 207.189 78.2546C206.461 74.8572 206.592 69.6836 207.4 69.4943C207.741 69.4116 207.962 70.4203 207.906 71.8329C207.759 75.5164 209.102 79.479 210.782 80.3547C212.453 81.2199 212.645 81.7507 211.685 82.8113C211.32 83.2109 210.291 82.9679 209.395 82.27H209.405ZM228.289 77.5804C228.218 77.0171 228.878 75.8571 229.711 75.0112C231.844 72.8399 232.745 68.0412 231.933 63.1985C231.165 58.626 231.757 57.9078 233.026 61.858C234.471 66.3328 234.416 69.0481 232.785 73.6267C231.342 77.6773 228.51 80.1637 228.287 77.5769L228.289 77.5804ZM212.967 76.7962C212.469 75.8685 211.884 73.0652 211.668 70.5646C211.36 67.0088 211.557 65.3444 212.574 62.9292C213.289 61.2269 214.182 59.7659 214.56 59.6778C215.792 59.3927 214.259 51.5653 212.821 50.8084C210.009 49.3368 207.751 42.5436 208.51 37.8479C209.062 34.4505 209.875 35.3606 209.936 39.4498C210.033 45.7994 213.871 50.3041 216.014 46.5836C217.216 44.4888 217.85 46.2104 216.84 48.828C215.604 52.0345 216.076 57.4501 217.826 60.1813C219.5 62.791 219.151 64.1808 217.216 62.6308C214.055 60.1038 212.255 65.3875 213.511 73.4965C214.352 78.9077 214.295 79.258 212.969 76.7962H212.967ZM243.13 60.5325C243.117 60.1698 243.667 58.2115 244.393 56.1757C246.129 51.3066 246.101 45.0134 244.317 38.9244C243.27 35.3553 242.264 33.7076 239.851 31.6172C236.795 28.9679 236.664 28.4706 238.966 28.3043C239.961 28.2295 240.04 27.6899 239.545 24.2951C238.897 19.8177 237.506 17.4562 235.454 17.3532C233.554 17.2573 233.476 15.1775 235.325 14.285C236.413 13.7648 237.363 14.4205 238.842 16.7318C240.594 19.463 240.883 20.4946 240.966 24.3488C241.054 28.2858 241.276 29.0551 242.922 30.9439C246.283 34.7964 248.302 44.8065 247.182 52.0609C246.441 56.8578 243.361 63.2892 243.12 60.5325H243.13ZM199.706 67.3168C193.903 66.2439 191.387 65.0609 193.721 64.5047C196.473 63.8489 206.681 64.341 207.371 65.1639C208.359 66.3407 208.007 68.2278 206.775 68.3536C206.26 68.4091 203.074 67.94 199.706 67.3168ZM201.959 59.3997C199.061 59.8574 196.454 59.8662 196.168 59.4173C195.881 58.9667 198.666 57.5769 202.358 56.3218C206.053 55.0702 209.329 54.4444 209.643 54.9311C210.531 56.3182 209.841 58.4729 208.455 58.5239C207.783 58.5451 204.855 58.9376 201.957 59.3997H201.959ZM234.09 46.8996C233.563 41.0139 231.948 37.8867 229.069 37.172C227.912 36.8815 227.548 36.3534 227.88 35.4319C228.657 33.2455 231.749 34.6212 233.566 37.9632C235.464 41.4513 236.105 46.118 235.179 49.717C234.607 51.9473 234.528 51.7396 234.09 46.8996ZM192.62 54.2102C193.791 52.2871 204.797 45.4658 205.811 46C207.696 46.9929 205.402 49.4336 200.073 52.1084C197.024 53.6364 193.91 55.0446 193.152 55.2277C191.975 55.5182 191.897 55.3721 192.62 54.2102ZM204.432 42.2928C203.328 39.2826 203.28 37.3436 204.229 33.8458C204.845 31.5635 204.891 29.7222 204.389 26.8397C203.618 22.2566 204.353 16.1756 205.96 13.7921C206.547 12.9251 207.985 12.2597 209.159 12.3134C211.09 12.3979 211.327 12.0819 211.661 9.00573C212.462 1.62025 217.162 -1.65133 220.51 2.84016C222.573 5.61533 222.368 7.73389 220.254 5.44546C217.813 2.80495 215.311 4.2009 213.533 9.18617C212.667 11.6154 212.16 14.0869 212.404 14.6784C212.692 15.3764 211.996 15.7135 210.413 15.6334C208.53 15.5401 207.731 16.0585 206.897 17.9201C205.618 20.7718 205.232 29.2804 206.332 30.3155C206.831 30.7899 206.731 31.9499 205.998 34.1609C205.183 36.6131 205.087 38.0961 205.584 40.7287C206.298 44.5302 205.593 45.4816 204.419 42.2893L204.432 42.2928ZM230.769 25.0345C230.906 23.7204 230.978 20.7181 230.906 18.3663C230.806 14.9231 230.457 13.5844 229.121 11.4975C227.767 9.38508 226.923 9.02686 224.535 9.54791C221.843 10.1403 221.687 10.0364 222.537 8.26463C223.912 5.39969 227.75 4.88303 229.719 7.29205C232.801 11.0662 233.667 19.7526 231.488 25.0485C230.533 27.3713 230.514 27.3722 230.772 25.0345H230.769ZM219.676 23.5452C218.683 20.8449 216.464 20.1918 215.105 22.2012C214.264 23.4572 214.035 23.4211 213.914 22.0357C213.734 20.0096 215.222 17.5724 216.866 17.2018C218.219 16.8867 221.155 21.0966 221.376 23.6764C221.592 26.162 220.614 26.0915 219.682 23.5523L219.676 23.5452Z" fill="white" stroke="white" stroke-width="1.08965"/>
										<path d="M188.893 64.326C188.901 62.7833 188.889 61.2405 188.857 59.6981C188.686 50.4827 188.806 50.7433 185.493 52.2871C182.808 53.5369 178.858 54.792 177.445 54.844C176.825 54.8668 176.553 55.0605 176.56 55.4662C176.569 55.909 176.252 56.0674 175.297 56.1044C174.597 56.1264 173.909 56.3332 173.763 56.5559C173.596 56.8226 165.227 57.3032 149.708 57.9466C127.172 58.8795 125.909 58.898 125.78 58.2458C125.573 57.2002 123.975 56.474 121.246 56.1792C119.739 56.0022 118.248 55.7094 116.786 55.3034C113.988 54.4514 106.305 54.719 103.511 55.7637C100.517 56.8851 91.1234 57.1694 86.9171 56.2637C83.2892 55.4493 79.5167 55.5393 75.9317 56.526C74.387 56.937 73.0034 57.253 72.8564 57.2319C70.3524 56.8895 64.45 56.7275 57.3074 56.8032C52.4128 56.856 46.5535 56.7997 44.288 56.6826C39.0827 56.4107 36.9254 56.5224 39.8968 56.9115C41.0604 57.0629 42.0717 57.2671 42.1439 57.37C42.7107 58.1613 40.9636 58.2379 33.6837 57.738C26.939 57.275 25.558 57.0822 25.4841 56.5876C25.4066 56.0568 25.9321 56.0225 30.2581 56.2813C32.9329 56.4406 35.6289 56.6501 36.2512 56.7469C36.9166 56.849 37.3804 56.7618 37.3751 56.5365C37.3725 56.3262 36.994 56.1642 36.5328 56.1827C36.0725 56.2003 33.1706 56.0269 30.0829 55.7937C22.4105 55.2224 18.859 55.5991 15.6367 57.3216C12.8273 58.825 10.8152 60.4189 8.93781 62.6334C7.87193 63.8894 7.62988 64.4114 7.58675 65.5336C7.53746 66.8019 7.64485 67.0052 8.96599 68.2225C11.2491 70.3164 12.2015 73.7323 11.3768 76.8781C11.1937 77.5804 10.2537 79.5978 9.29076 81.3625C5.32912 88.6301 3.74834 93.8776 1.819 106.193C0.830582 112.511 0.802429 114.061 1.65532 115.398C2.43427 116.618 6.11423 118.66 15.554 123.102C24.3486 127.244 26.4505 128.081 31.5185 129.442C36.5275 130.786 37.7967 130.743 39.3819 129.169H39.3846C40.0517 128.506 40.9574 127.189 41.401 126.247L42.2037 124.528L41.8965 120.413C41.3482 113.102 41.2487 101.072 41.6967 96.5128C42.2571 91.0732 43.162 85.6745 44.4059 80.3494C45.1074 77.3886 45.5924 76.0533 46.5042 74.5773L47.6845 72.6612L49.5276 72.5846C51.4481 72.5063 51.8468 72.3082 52.081 71.318C52.1813 70.8938 52.2315 70.9501 52.2561 71.5302C52.3292 73.0881 52.7825 73.2553 56.5989 73.1136C59.6812 72.9983 60.2859 72.8777 60.4778 72.3346C60.6538 71.8356 60.9944 71.7238 62.0084 71.8294C63.6217 72.0002 72.5176 70.973 72.7799 70.584C72.8872 70.4352 74.2656 70.5884 75.842 70.9343C79.2112 71.6701 85.1656 71.3084 88.2506 70.1809C90.8655 69.2206 101.024 68.8474 103.646 69.614C104.674 69.9115 107.251 70.1826 109.368 70.2134C112.603 70.2574 113.691 70.1149 116.127 69.3192C117.725 68.7981 120.224 68.1899 121.679 67.9699C124.654 67.5166 125.763 66.9524 125.945 65.8038C126.067 65.024 126.34 65.0046 149.912 64.1262C165.523 63.5409 173.817 63.3666 173.929 63.621C174.023 63.8357 174.625 63.9871 175.268 63.9634C175.964 63.9378 176.521 64.1271 176.655 64.4422C176.791 64.7643 177.835 65.1094 179.327 65.3303C180.677 65.531 182.839 66.1268 184.133 66.6488C187.129 67.8537 188.481 68.0535 188.772 67.3371C188.841 67.1672 188.883 66.0045 188.893 64.326ZM188.178 65.9772C188.157 67.2816 187.863 67.2103 186.154 66.324H186.159C184.432 65.4271 179.797 64.1913 178.369 64.2468C177.577 64.2723 177.278 64.1139 177.201 63.6192C177.122 63.0709 176.845 62.9811 175.676 63.1158C174.437 63.2636 174.27 63.1967 174.406 62.6229C174.497 62.2236 174.546 61.8159 174.553 61.4065C174.539 60.7358 175.884 60.5958 176.331 61.2199C176.845 61.9399 177.171 61.212 177.117 59.4719C177.002 55.6273 176.995 55.652 178.124 55.6097C179.573 55.5569 183.498 54.3634 185.757 53.2949C187.553 52.4402 188.524 52.4455 187.67 53.3072C187.339 53.6443 187.341 53.742 187.675 54.043C188.01 54.3449 188.016 54.6204 187.723 56.0736C187.46 57.3762 187.458 57.7943 187.709 57.9096C188.157 58.1129 188.23 62.1775 187.789 62.4345C187.528 62.5877 187.53 62.7294 187.8 63.1343C187.987 63.415 188.157 64.4035 188.173 65.3312C188.179 65.5758 188.18 65.7906 188.178 65.9772ZM187.895 65.7228L187.885 65.7184V65.7739L187.894 65.7748L187.895 65.7228ZM187.788 65.7043L187.783 65.7079C187.777 65.7131 187.787 65.7387 187.788 65.7307V65.7043ZM176.611 58.4183C176.611 59.2721 176.255 59.6356 175.511 59.559C174.789 59.4798 174.628 59.2862 174.54 58.3814C174.476 57.723 174.324 57.4088 174.15 57.5742C173.995 57.7239 173.931 57.679 174.013 57.473C174.095 57.2671 174.677 57.0893 175.303 57.069C176.192 57.0453 176.472 57.1993 176.554 57.7485C176.59 57.9701 176.609 58.1939 176.611 58.4183ZM176.337 60.1813C176.341 60.1892 176.344 60.1963 176.336 60.2033C176.304 60.2517 176.087 60.2913 175.722 60.3072C175.139 60.3327 174.866 60.2684 175.119 60.1593C175.37 60.0537 175.849 60.0308 176.182 60.1109C176.275 60.1346 176.325 60.1584 176.337 60.1813ZM173.923 62.446L149.939 63.3446L125.96 64.2397L126.013 62.7655L126.065 61.2868L149.863 60.3001L173.658 59.3082L173.79 60.8757L173.923 62.446ZM173.828 58.5125C173.943 58.7704 165.919 59.2034 149.959 59.8002C134.147 60.3908 125.957 60.5659 125.914 60.3036C125.982 59.7579 173.591 57.98 173.828 58.5125ZM125.432 63.7759C125.417 64.8242 125.34 65.3532 125.211 65.2431C125.064 65.1129 124.947 65.266 124.954 65.5776C124.96 65.8927 124.677 66.2641 124.329 66.4094C123.98 66.5511 123.486 66.7984 123.233 66.9524C122.892 67.1628 122.828 67.095 122.982 66.6989C123.14 66.2949 123.072 66.243 122.689 66.4974C122.414 66.6804 121.355 66.9964 120.334 67.1989C119.315 67.4057 117.472 67.9136 116.238 68.3334C113.326 69.3209 107.899 69.556 104.694 68.8404C101.414 68.1019 90.4378 68.4249 87.4346 69.3465C83.7987 70.4625 80.8184 70.7125 77.436 70.18C75.7187 69.908 74.0209 69.5401 73.6635 69.3553C73.2111 69.1159 72.8661 69.1775 72.5272 69.5507C72.2033 69.9019 70.5539 70.2372 67.623 70.5391L63.2028 70.9906L63.098 70.0937C62.9484 68.8289 62.3692 68.7207 62.1888 69.9265C62.0638 70.7723 61.8834 70.9484 61.1176 70.9757C60.6133 70.9915 60.0245 71.2828 59.8106 71.6155C59.2411 72.5045 53.8395 72.685 53.234 71.8338L53.2349 71.8373C52.9981 71.5073 52.7992 70.9836 52.7939 70.679C52.7886 70.371 52.5404 69.9071 52.2412 69.6519C51.7975 69.2629 51.6919 68.7541 51.6541 66.7456C51.6092 64.3929 51.5828 64.3102 50.8734 64.1843C50.1833 64.0602 50.186 64.0496 50.9376 64.0549C51.5379 64.0611 51.7597 64.2688 51.8319 64.8867C51.9164 65.6242 52.1593 65.729 54.1089 65.8821C57.1895 66.1189 62.5294 65.8821 62.5224 65.5081C62.5198 65.3312 61.4724 65.2766 60.197 65.3857C58.919 65.4949 57.1551 65.4817 56.2776 65.3567C54.7206 65.1366 54.7514 65.1252 57.4614 64.833L60.2463 64.5276L60.2137 63.452C60.1847 62.4257 60.2454 62.3694 61.4363 62.3245C62.1281 62.3025 62.7583 62.1159 62.8375 61.9179C62.8859 61.7946 62.8973 61.6301 62.8868 61.454C62.7441 61.4384 62.6002 61.4372 62.4573 61.4505C62.4229 61.4531 62.3877 61.4769 62.3552 61.4663C62.293 61.4452 62.2324 61.4196 62.1738 61.3898C61.7901 61.5649 60.5174 61.6045 56.7379 61.7471C55.0577 61.807 53.3722 61.8633 52.9911 61.8686C52.4339 61.8783 52.3195 61.726 52.4154 61.1099C52.4832 60.6839 52.4383 60.2896 52.316 60.2279C52.1945 60.1699 52.0061 59.6391 51.8944 59.0485L51.6937 57.973L56.6983 57.7899C59.4515 57.6895 61.8851 57.7696 62.1008 57.9615C62.3288 58.1842 62.6245 58.1525 62.8243 57.8841C63.26 57.3225 71.9719 57.8436 72.2412 58.4474C72.3803 58.7589 72.6654 58.7431 73.2939 58.3937C73.7683 58.1279 75.5339 57.5866 77.2185 57.1887C80.5324 56.4098 83.4897 56.4362 87.2023 57.2811C89.6729 57.8462 101.479 57.5329 103.325 56.8587C107.47 55.3377 113.974 55.2022 117.406 56.5603C118.35 56.9097 119.31 57.143 120.276 57.2574C121.275 57.3498 122.022 57.6887 122.627 58.3294C123.115 58.8443 123.932 59.3522 124.441 59.456L125.371 59.6444L125.426 62.5586C125.436 63.019 125.438 63.4265 125.432 63.7759ZM125.078 58.4016C125.089 58.8874 124.968 58.8698 123.831 58.2168C123.295 57.9096 122.927 57.5549 123.007 57.422C123.22 57.0884 125.07 57.9633 125.078 58.4016ZM117.611 62.1784C117.568 61.6521 116.244 61.1847 113.778 60.9303C112.218 60.7728 111.729 60.8599 111.197 61.4065C110.434 62.1881 110.393 62.5639 110.984 63.3904C111.489 64.0998 113.306 64.0646 115.859 63.2918C117.071 62.9265 117.64 62.5384 117.611 62.1784ZM115.857 62.2867C115.87 63.0084 111.596 63.2768 111.424 62.5709V62.5674C111.365 62.3298 111.579 62.0191 111.895 61.8853C112.656 61.5605 115.85 61.8844 115.857 62.2867ZM112.138 59.2325L111.987 59.2395C112.01 59.2519 112.037 59.258 112.063 59.2571C112.09 59.2553 112.116 59.2468 112.138 59.2325ZM109.999 62.4556C109.982 62.0059 109.808 61.5702 109.482 61.3299C108.47 60.5782 103.113 61.6274 102.918 62.6167C102.709 63.6536 108.633 64.5892 109.575 63.6668C109.878 63.371 110.017 62.9063 109.999 62.4556ZM109.168 62.6035C109.162 62.6959 109.137 62.798 109.094 62.9089C108.951 63.2689 108.364 63.349 106.878 63.2038C105.769 63.0973 104.807 62.9353 104.739 62.8429C104.5 62.5093 104.872 62.3562 106.688 62.042C108.347 61.755 109.21 61.954 109.168 62.6035ZM103.815 58.7343C103.824 58.7343 103.804 58.7387 103.734 58.7457C103.76 58.7395 103.788 58.7357 103.815 58.7343ZM103.72 59.4833L103.683 59.4816L103.681 59.4886L103.712 59.4842L103.72 59.4833ZM100.303 60.2218V60.2191L100.298 60.2218H100.303ZM91.8328 60.8256L91.7035 60.8044C91.7079 60.8194 91.7158 60.83 91.7211 60.8449C91.7579 60.8364 91.7952 60.8299 91.8328 60.8256ZM88.5718 63.3543C88.5718 62.8834 87.5367 62.4486 85.5176 62.1485C82.6536 61.7198 81.5833 62.0904 81.6115 63.5118C81.6405 65.0636 83.4 65.3963 86.6698 64.4703C87.946 64.1077 88.5718 63.7204 88.5718 63.3543ZM86.9224 63.3701C86.9365 64.0884 82.6597 64.3603 82.4872 63.6518V63.6483C82.4283 63.4062 82.5708 63.0938 82.8076 62.9485C83.3683 62.6044 86.9154 62.9679 86.9224 63.3701ZM81.0851 63.6773C81.0508 62.0349 79.1743 61.6943 75.7531 62.7171C74.5358 63.0814 74.0394 63.4018 74.0464 63.819C74.0684 64.8955 79.6152 65.6542 80.638 64.7177L80.6389 64.7212C80.8906 64.4888 81.0904 64.0179 81.0851 63.6773ZM80.3299 66.9339L80.3273 66.9216L80.3229 66.9357L80.3299 66.9339ZM80.2314 63.6844C80.2252 63.7777 80.2006 63.8789 80.1574 63.9889C80.0148 64.3498 79.4278 64.429 77.942 64.2873C76.8322 64.1773 75.8701 64.0153 75.8024 63.9229C75.5638 63.5893 75.9353 63.4397 77.7537 63.1211C79.4084 62.835 80.2736 63.0366 80.2314 63.6844ZM75.7962 67.8854C75.7555 67.9072 75.711 67.9209 75.665 67.9259C75.7275 67.9752 75.7689 67.9611 75.7962 67.8854ZM72.8406 66.0573C72.8265 66.0476 72.8133 66.0423 72.7992 66.0318C72.7673 66.0093 72.7356 65.9864 72.7042 65.9631C72.7737 66.1004 72.8159 66.1365 72.8406 66.0573ZM62.7151 66.5819C62.6967 66.5159 62.6764 66.5211 62.6544 66.5968L62.7151 66.5819ZM59.727 63.3411C59.7278 63.4203 59.6187 63.423 59.3943 63.3393C59.1153 63.2425 57.8689 63.0462 56.6261 62.9001L54.3615 62.6343L56.8418 62.6651C58.2043 62.6836 59.4506 62.8843 59.6099 63.1079C59.6874 63.2152 59.727 63.2936 59.727 63.3411ZM55.9211 71.8541L55.9115 71.8409C55.8868 71.8453 55.8551 71.8435 55.8243 71.8435C55.8565 71.8483 55.8888 71.8512 55.9211 71.8541ZM53.6749 64.6886C53.6653 65.3584 53.5209 65.3822 53.0096 65.3135C52.5369 65.2493 52.2561 64.9492 52.1866 64.4325V64.436C52.1065 63.9555 51.9252 63.5242 51.6699 63.2082C51.3469 62.8552 51.3223 62.6097 51.5582 62.0332C51.7377 61.5922 51.8108 61.5385 51.7456 61.9038C51.6576 62.3782 51.8372 62.4662 52.6055 62.3298C53.5746 62.1546 53.5746 62.1546 53.6485 63.7847C53.6661 64.0857 53.6749 64.3871 53.6749 64.6886ZM51.6277 60.2385C51.6296 60.3038 51.6222 60.369 51.6057 60.4321C51.3962 61.0553 51.2703 60.6962 51.273 59.4631C51.2738 58.2661 51.2862 58.2467 51.4913 59.1585C51.5802 59.5608 51.6312 59.9833 51.6277 60.2385ZM51.2712 70.4775C51.2791 71.1183 51.2695 71.539 51.2395 71.5839C51.1814 71.6763 50.8822 71.7405 50.5776 71.7317C50.0936 71.7141 50.1076 71.6736 50.6815 71.3726C51.0547 71.1799 51.1541 71.0241 50.9086 71.0135C50.4368 70.9889 50.1173 69.2426 50.0557 66.39C50.0267 65.0011 50.1076 64.7194 50.5319 64.7027C50.9904 64.6842 51.0591 65.031 51.1946 68.0517C51.2325 68.8599 51.258 69.6686 51.2712 70.4775ZM50.8619 59.8627C50.8619 60.0968 50.8611 60.36 50.8584 60.6548C50.8294 63.812 50.8804 63.5022 50.3963 63.5207C50.0768 63.5312 49.9844 62.9679 49.943 60.7886C49.8964 58.3673 49.9483 58.039 50.3831 58.0178C50.7713 58.0055 50.8584 58.2247 50.8611 59.8627H50.8619ZM49.5646 69.8693C49.554 71.6956 49.4317 71.8127 49.0972 71.825C48.6967 71.8417 48.5585 71.5812 48.5365 70.7653C48.5251 70.1747 48.386 66.9973 48.2364 63.7081C47.9732 57.9052 47.9811 57.7274 48.4996 57.7071C48.7927 57.6983 49.1113 57.9633 49.2055 58.3013C49.3005 58.6392 49.4343 61.8131 49.5038 65.3628C49.5293 66.5677 49.549 67.7726 49.5628 68.9777C49.5654 69.313 49.5654 69.6088 49.5646 69.8693ZM47.7426 69.3931C47.7303 70.5409 47.6247 70.9721 47.3668 71.1983C46.6257 71.8488 45.1532 73.9955 45.1602 74.4162C45.1655 74.6336 45.375 74.565 45.6249 74.2604C46.036 73.757 46.0457 73.772 45.7288 74.4022C45.5369 74.7815 45.2825 75.0112 45.1593 74.9056C45.037 74.8009 44.8601 74.9153 44.7641 75.1617C44.6462 75.4592 44.045 75.5464 42.9563 75.4179C41.218 75.2448 39.4768 75.1036 37.7334 74.9945C33.3246 74.7014 32.4383 74.5914 29.1192 73.9013C25.7367 73.1981 23.3963 73.5185 21.3983 74.9672C20.5595 75.5745 19.9373 76.1598 20.0165 76.2655C20.093 76.372 21.0181 75.9662 22.0752 75.3554C24.2474 74.1011 26.0307 73.9471 29.0954 74.7366L30.9658 75.2216L29.1016 75.0112C22.3111 74.2455 20.3201 76.5322 16.1165 89.894C14.7971 94.0968 12.7041 102.343 12.2816 105.019C12.1267 105.999 11.8212 107.112 11.6038 107.492C10.7615 108.966 12.0122 113.331 13.9407 115.661C14.9053 116.828 22.4669 121.995 22.8603 121.755C23.068 121.625 23.3021 120.95 23.384 120.251C23.5107 119.162 23.5636 119.085 23.7493 119.735C24.0564 120.814 24.0644 121.165 23.7466 120.896C23.5996 120.767 23.4808 120.839 23.4861 121.049C23.4905 121.373 23.9271 122.119 24.2545 122.458C24.3513 122.47 24.4508 122.499 24.5458 122.539C24.5052 122.405 24.4408 122.279 24.3557 122.168C23.6049 121.118 24.0908 121.114 25.0017 122.162C25.5448 122.791 26.2085 123.23 26.4804 123.142C26.7524 123.054 26.9777 123.148 26.983 123.352C26.9874 123.652 26.8844 123.76 26.2252 123.599C26.1988 123.657 26.1539 123.708 26.0923 123.746C26.1345 123.762 26.168 123.78 26.3062 123.841L26.5139 123.934C26.6318 124.027 26.7612 124.094 26.888 124.174C26.9064 124.185 26.9187 124.206 26.9399 124.212C26.9997 124.228 27.0631 124.228 27.1238 124.237L27.3254 124.3C27.4253 124.348 27.5231 124.401 27.6185 124.457C27.8491 124.472 28.2601 124.577 28.7521 124.757C29.2846 124.957 29.6314 125.131 29.8101 125.287C29.8541 125.315 29.8981 125.343 29.9324 125.381C29.936 125.384 29.9192 125.386 29.9069 125.388L29.9236 125.412L29.9254 125.413C30.0152 125.432 30.1093 125.432 30.1974 125.459C30.354 125.507 30.531 125.608 30.6885 125.697C31.2008 125.559 31.287 125.613 31.023 125.934C31.0787 125.993 31.1194 126.064 31.1418 126.142C31.7623 125.824 34.1062 126.205 33.7418 126.563C33.601 126.702 34.4556 126.824 35.6456 126.834C37.4121 126.85 37.9631 126.703 38.6566 126.039C39.1214 125.593 39.5007 125.04 39.4972 124.808C39.4919 124.576 39.6398 124.509 39.8255 124.656C40.0112 124.807 40.0737 124.79 39.969 124.623C39.859 124.455 39.8959 123.954 40.0456 123.507C40.2454 122.916 40.2005 121.089 39.8766 116.786C39.1346 106.964 39.565 98.0514 41.4028 85.127C41.9097 81.5738 42.3199 78.4333 42.3129 78.1508C42.2909 76.9722 41.3368 77.3903 40.3387 79.0107C39.7718 79.9358 39.4514 80.3882 39.6275 80.0273C40.0491 79.1612 39.7877 78.8576 38.6294 78.8655C37.729 78.8725 36.2309 78.2837 36.9324 78.2001C37.1172 78.1798 37.2598 77.8128 37.2502 77.3921C37.2387 76.8121 36.9931 76.5726 36.2353 76.4151C35.8084 76.3359 35.386 76.2197 34.9679 76.0674C34.401 75.777 42.4317 75.7453 43.421 76.0375C44.1638 76.2532 44.5854 76.1933 44.8891 75.8315C45.2817 75.3545 45.2825 75.3765 44.8918 76.1141C44.662 76.5498 44.0679 78.6903 43.5768 80.8714C43.2353 82.3932 42.8858 83.9106 42.5294 85.4245C42.4449 85.7845 42.4176 86.1709 42.4511 86.552C42.4942 86.8768 42.393 86.9674 42.1897 86.7923C41.9538 86.589 41.9053 86.7509 42.0251 87.3485C42.1315 87.8828 42.0884 88.1011 41.9071 87.9479C41.7249 87.7904 41.68 88.0738 41.7795 88.7454C41.8649 89.3201 41.8393 89.8834 41.7196 89.9961C41.6026 90.1079 41.5788 90.4608 41.666 90.7742C41.7549 91.0901 41.68 91.3542 41.5066 91.3595C41.3288 91.3647 41.2558 91.6279 41.3447 91.9448C41.4336 92.2572 41.35 93.8961 41.1625 95.5816C40.9697 97.3173 40.8201 99.0653 40.7136 100.819C40.5164 104.816 40.8228 115.512 41.2391 119.13C41.7311 123.41 41.6307 124.277 40.4029 126.401C38.2923 130.052 37.3901 130.207 30.31 128.136L30.3083 128.133C27.9089 127.432 25.6223 126.681 25.2279 126.461C24.878 126.257 24.502 126.102 24.1101 125.999C23.3479 125.888 8.0955 118.543 5.33177 116.957C3.53447 115.926 2.36737 115.012 2.0153 114.352L1.47487 113.338L2.21597 108.356C3.98071 96.5287 5.82819 89.8579 9.03375 83.7495C12.0492 78.0064 12.2771 77.3463 12.2217 74.4822C12.1891 72.7853 11.9982 71.5178 11.6241 70.5065C11.0388 68.9214 9.76869 67.22 8.88852 66.845C7.93442 66.4366 8.18086 64.8576 9.41925 63.4546C13.1917 59.1682 18.272 56.4872 22.9624 56.3033C24.192 56.254 24.6215 56.3746 24.6312 56.7768C24.6365 57.0743 24.7923 57.4897 24.9815 57.701C25.1663 57.914 29.1385 58.347 33.8069 58.6648L42.2917 59.2474L42.7468 58.3699C43.1746 57.5434 43.3347 57.5021 45.2852 57.7133L47.3659 57.9377L47.4962 60.5897C47.6203 63.1211 47.6009 63.2346 47.0174 63.2601C46.682 63.2707 43.7731 63.1149 40.5561 62.9081C30.1208 62.2347 27.2602 62.1467 27.1766 62.4865C27.1379 62.6502 25.6557 62.8667 23.7616 62.9917C23.8135 63.0468 23.843 63.1193 23.8443 63.195C23.8443 63.2592 23.8205 63.3226 23.7774 63.3789C26.3545 63.4494 31.0714 63.6764 34.3324 63.8833C37.6242 64.0919 41.9062 64.3234 43.847 64.4008C45.7895 64.4739 47.4398 64.6719 47.5164 64.8444C47.5921 65.0161 47.6854 66.4278 47.7241 67.9857C47.7384 68.4544 47.7446 68.9242 47.7426 69.3931ZM47.2858 63.8322C47.2708 63.8859 47.0033 63.9334 46.5509 63.9502C45.8934 63.9739 45.6223 63.9062 45.9497 63.8023C46.278 63.6976 46.814 63.6764 47.145 63.7565C47.248 63.7821 47.2928 63.8076 47.2858 63.8322ZM43.7871 63.5567C43.7607 63.6051 43.3136 63.6553 42.5611 63.6835C41.467 63.7257 41.0164 63.6703 41.5612 63.5664C42.1096 63.4582 43.0047 63.4265 43.5539 63.4925C43.7255 63.5118 43.7995 63.5347 43.7871 63.5567ZM43.5565 70.8744L43.5187 70.8524L43.5046 71.0505L43.5565 70.8744ZM41.6827 78.4721L40.7066 85.4395C40.1723 89.2682 39.5676 94.4462 39.367 96.9371C38.8609 103.139 38.8459 112.346 39.3326 117.726C39.6988 121.781 39.6926 122.237 39.271 123.393C38.9295 124.213 38.4595 124.893 37.9024 125.374C36.928 126.148 36.752 126.136 32.8519 125.072C28.9616 124.004 27.5217 123.339 27.6792 122.677C27.7558 122.355 27.6017 121.319 27.3368 120.38C26.9302 118.92 26.8967 118.312 27.1185 116.179C27.2625 114.608 27.2775 113.028 27.1634 111.455C26.9883 109.635 27.0446 108.927 27.4697 107.607C27.8799 106.336 27.9459 105.586 27.7848 104.11C27.622 102.642 27.6951 101.821 28.1149 100.357C28.547 98.8374 28.6078 98.0558 28.4388 96.247C28.2689 94.4568 28.3305 93.6602 28.7407 92.2255C29.0232 91.2441 29.2485 90.026 29.2415 89.5182C29.2195 87.9154 29.9632 86.0529 30.9658 85.1798C31.5027 84.7124 33.1847 83.9889 34.7117 83.5673C38.7411 82.4495 39.4576 82.0394 40.6379 80.1444L41.6827 78.4721ZM38.7341 80.0299C38.7311 80.0645 38.719 80.0976 38.6989 80.1259C38.5757 80.3142 36.9527 80.9647 35.0885 81.5667C33.226 82.1696 31.3082 82.8685 30.8293 83.1229C29.8488 83.6439 28.3816 86.0221 28.408 87.0449C28.4194 87.6249 28.4599 87.6372 28.6738 87.1232C28.8516 86.6998 28.8833 86.9313 28.7838 87.903C28.7055 88.6644 28.5506 89.4416 28.4397 89.6334C28.3288 89.8253 28.3103 90.254 28.4045 90.5849C28.5251 91.0127 28.4722 91.0945 28.2117 90.871C27.9494 90.6465 27.8992 90.7354 28.0269 91.1957C28.1202 91.5927 28.0665 92.0319 27.8861 92.3461C27.6775 92.6797 27.607 93.7517 27.688 95.3748C27.7549 96.7654 27.6871 98.1209 27.5358 98.4087C27.3835 98.6921 27.3359 99.0935 27.424 99.2968C27.622 99.7404 27.3606 100.982 27.1124 100.769C27.0164 100.685 27.0015 101.672 27.0754 102.957C27.2277 105.576 27.0499 107.366 26.6661 107.041C26.5191 106.911 26.4558 108.31 26.5139 110.466C26.5658 112.47 26.5429 115.362 26.4602 116.897C26.3563 118.833 26.4118 119.946 26.6468 120.548C26.9029 121.221 26.9108 121.544 26.6758 121.99C26.2569 122.776 26.1671 122.746 25.0114 121.411V121.407C23.8927 120.118 23.6348 118.741 24.5062 118.706C25.3291 118.68 25.6759 117.074 25.1558 115.686C24.9252 115.065 24.7782 114.12 24.8301 113.581C25.1998 109.753 25.6161 97.6051 25.3916 97.2275C25.154 96.8253 25.5034 90.716 25.9356 87.6372C26.3317 84.8533 27.769 82.1019 29.3383 81.1275C30.1815 80.6038 34.7188 79.0459 34.8561 79.2378C34.9107 79.3161 34.5586 79.5635 34.071 79.7923C32.9426 80.3178 33.858 80.3274 35.4361 79.8073C36.6833 79.3945 38.7614 79.5679 38.7341 80.0299ZM38.5105 63.3754C38.4938 63.4291 38.2254 63.4766 37.7738 63.4934C37.1181 63.5136 36.847 63.4494 37.1745 63.3446C37.5639 63.2364 37.9734 63.2214 38.3697 63.3006C38.4736 63.3253 38.5176 63.3517 38.5105 63.3754ZM36.9799 81.9549C36.9879 82.0147 36.891 82.0587 36.6983 82.079C36.4175 82.1054 36.2591 82.02 36.3453 81.8836C36.4307 81.7498 36.6604 81.7278 36.8532 81.8343C36.9333 81.8783 36.9755 81.9197 36.9799 81.9549ZM36.1429 77.5998C36.1411 77.6165 36.1341 77.6332 36.1235 77.6491C36.0654 77.738 34.6008 78.289 32.8731 78.876C28.9493 80.1963 28.5558 80.4445 27.1432 82.4768C25.7252 84.517 25.3274 86.2994 24.8979 92.5565C24.7183 95.1591 24.2738 99.251 23.9042 101.639C23.3391 105.321 22.4537 116.612 22.635 117.808C22.7547 118.58 22.6746 120.741 22.5285 120.746C22.4449 120.748 20.8069 119.646 18.8864 118.292V118.295C16.9667 116.941 15.0127 115.38 14.5436 114.829C12.8044 112.78 11.6126 109.118 12.3036 107.945C12.4286 107.738 12.8853 105.794 13.3219 103.633C14.7557 96.5137 17.5723 87.1171 19.8492 81.8501C20.8922 79.4376 22.5364 77.3032 24.0318 76.4221C25.0739 75.8087 26.7322 75.6951 28.834 76.0903C29.7265 76.2575 31.5352 76.5559 32.8537 76.754C35.2504 77.1175 36.1755 77.3525 36.1429 77.5998ZM35.7882 67.0017L35.7468 67.0079L35.782 67.0246L35.7882 67.0017ZM35.7433 66.2368C35.7388 66.2361 35.7344 66.2349 35.7301 66.2333L35.7274 66.2368H35.7433ZM34.7866 63.1228C34.7707 63.1765 34.5031 63.2232 34.0516 63.2399C33.3933 63.261 33.1257 63.1967 33.4513 63.092C33.7788 62.9873 34.3139 62.967 34.6449 63.0471C34.7478 63.0726 34.7936 63.0982 34.7866 63.1228ZM33.1899 80.3028L31.8644 80.573C31.1383 80.7191 30.3664 81.0008 30.1498 81.1997C29.6393 81.6662 29.972 81.6046 31.7377 80.889L33.1899 80.3028ZM32.4902 83.3015C32.4981 83.3614 32.4013 83.4045 32.2077 83.4247C31.9278 83.452 31.7693 83.3658 31.8556 83.232V83.2285C31.941 83.0956 32.1707 83.0744 32.3635 83.1801C32.4436 83.2258 32.4849 83.2663 32.4902 83.3015ZM32.2191 75.4293C32.2015 75.4804 32.0413 75.5217 31.7685 75.5376C31.3293 75.5622 31.1189 75.4892 31.2941 75.3747C31.5434 75.2554 31.8299 75.2399 32.0906 75.3316C32.1883 75.3651 32.2288 75.3985 32.2191 75.4293ZM30.6075 62.8728C30.6084 62.923 30.266 62.9688 29.6631 62.9934C28.7873 63.0278 28.3966 62.9714 28.7926 62.8684C29.1896 62.7655 29.9069 62.7355 30.384 62.8042C30.5354 62.8262 30.6066 62.85 30.6075 62.8728ZM30.3408 84.1148L29.7177 85.2185C29.1341 86.2492 28.9238 86.5062 28.9194 86.1982C28.9176 86.1286 29.2371 85.6322 29.6288 85.0944L30.3408 84.1148ZM25.088 99.3276C25.0898 100.103 24.9595 103.242 24.7659 106.927C24.4437 113.093 24.4323 114.838 24.706 115.87C24.9701 116.863 24.9745 117.285 24.735 117.735C24.3531 118.457 23.854 118.499 23.4615 117.836C23.0363 117.124 23.5855 108.245 24.3698 103.082C24.7113 100.852 25.0282 99.0785 25.0774 99.1463C25.0876 99.2062 25.0909 99.267 25.0871 99.3276H25.088ZM9.81268 108.874C9.79604 108.868 9.77852 108.864 9.76076 108.863C9.75812 108.873 9.75812 108.887 9.75636 108.897L9.79332 108.91L9.81268 108.874ZM9.75021 109.061L9.73788 109.027C9.73549 109.039 9.73401 109.05 9.73347 109.062C9.73875 109.061 9.74318 109.062 9.74757 109.06L9.75021 109.061Z" fill="white" stroke="white" stroke-width="1.08965"/>
									</svg>
								</div>
								<h2 class="content_titre_left_bloc_vert">Nettoyage vapeur basse pression</h2>
							</div>
							<div class="col-md-7">
								<div class="content_text_bloc_vert">
									La <i class="fw-700 fst-italic">STEAM_Tec</i> est un excellent <span class="fw-900">nettoyeur basse pression vapeur professionnel</span>. Il assure un résultat parfait sans aucune difficulté. Le nettoyage est basé sur l’action de la vapeur et non sur la pression, vous pouvez utiliser la <i class="fw-700 fst-italic">STEAM_Tec</i> sur <span class="fw-900">tous types de supports</span> sans les altérer</span>
								</div>
								<div class="content_bloc_telecharger_fichier_nettoyage">
									<a href="" class="btn_telecharger_fichier" download>
										<span class="icon_download">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
												<path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM0 16V11H2V14H14V11H16V16H0Z" fill="currentColor"/>
											</svg>
										</span>
										<span class="text_download">Télécharger la fiche de présentation de la solution</span>
									</a>
									<a href="" class="btn_telecharger_fichier" download>
										<span class="icon_download">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
												<path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM0 16V11H2V14H14V11H16V16H0Z" fill="currentColor"/>
											</svg>
										</span>
										<span class="text_download">Télécharger la brochure nettoyage</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="content_bloc_nettoyage" id="avantage_methode">
						<div class="row">
							<div class="col-md-6 content_bloc_nettoyage_left">
								<h3>Les avantages de la méthode</h3>
								<p>La <span class="fw-900">basse pression</span> permet un nettoyage  sans restriction de n’importe quel     
								Une <span class="fw-900">Consommation d’eau réduite</span>, seulement 300 Litres d’eau / h contre 1.000 L à 1.500 L pour un nettoyeur haute pression. Le nettoyage durera plus longtemps dans le temps car la <span class="fw-700">haute température</span> de la vapeur détruit naturellement les germes pathogènes des mousses, lichens ou autres algues, présents sur vos surfaces à nettoyer.
								Plus besoin de traitement chimique, le nettoyage à la vapeur rend le <span class="fw-700">nettoyage plus écologique.</span>
								Le nettoyage vapeur peut être effectué dans la plupart des conditions météo : vent, pluie, froid, forte chaleur …). Aucun problème d'accessibilité pour vos chantiers, il n'y a pas de perte significative de pression ni de température jusqu'à 60m de flexible. Le marché du nettoyage vapeur est porteur et en pleine expansion, pourtant il est encore méconnu malgré ses nombreux avantages.</p>
							</div>
							<div class="col-md-6 content_bloc_nettoyage_right">
								<h4>La basse pression, la température élevée et un faible volume d’eau sont la combinaison optimale du nettoyage avec la <i class="fw-700  fst-italic">STEAM_Tec </i>:</h4>
								<ul>
									<li>Le résultat impressionnant immédiat du nettoyage permet la satisfaction des clients</li>
									<li>Les surfaces sèchent en quelques minutes ce qui permet l’application d’hydrofuge rapidement</li>
									<li>L’opérateur a un contrôle total sur la température et la pression, ce qui permet vraiment de s’adapter à toutes les surfaces et toutes les salissures</li>
									<li>La basse pression limite grandement les projections autour de la surface à nettoyer, ce qui permet de laisser un chantier propre facilement et de limiter les nuisances en agglomération</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_bloc_image_nettoyage">
			<div class="container">
				<ul class="content_liste_text_droite_entete_accueil">
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewbox="0 0 44 44" fill="none">
							<path d="M31.375 12.625C30.7713 9.86326 29.4355 7.3149 27.5076 5.24732C25.5797 3.17974 23.1308 1.66915 20.418 0.874066C17.7052 0.0789784 14.8283 0.0287008 12.0894 0.728508C9.35043 1.42832 6.8503 2.85241 4.85135 4.85137C2.8524 6.85032 1.4283 9.35044 0.728493 12.0894C0.0286856 14.8284 0.0789631 17.7052 0.87405 20.418C1.66914 23.1309 3.17972 25.5797 5.24731 27.5076C7.31489 29.4355 9.86325 30.7713 12.625 31.375C13.2287 34.1367 14.5645 36.6851 16.4924 38.7527C18.4203 40.8203 20.8691 42.3309 23.582 43.1259C26.2948 43.921 29.1716 43.9713 31.9106 43.2715C34.6496 42.5717 37.1497 41.1476 39.1486 39.1486C41.1476 37.1497 42.5717 34.6496 43.2715 31.9106C43.9713 29.1716 43.921 26.2948 43.1259 23.582C42.3308 20.8691 40.8203 18.4203 38.7527 16.4924C36.6851 14.5645 34.1367 13.2287 31.375 12.625ZM27.2144 16.7856C27.0822 18.721 26.4483 20.5885 25.375 22.2044L21.8012 18.625C23.4166 17.5497 25.2841 16.9139 27.22 16.78L27.2144 16.7856ZM12.3081 26.6313C10.5065 26.0074 8.89298 24.9359 7.61909 23.5173C6.34519 22.0988 5.45271 20.3798 5.02545 18.5217C4.59818 16.6636 4.65015 14.7274 5.17647 12.8949C5.7028 11.0624 6.68621 9.39378 8.03436 8.04563C9.38252 6.69747 11.0512 5.71406 12.8837 5.18774C14.7162 4.66141 16.6524 4.60945 18.5104 5.03671C20.3685 5.46398 22.0875 6.35646 23.5061 7.63035C24.9246 8.90425 25.9961 10.5178 26.62 12.3194C22.9364 12.6481 19.4855 14.261 16.8704 16.8761C14.2554 19.4911 12.6425 22.942 12.3137 26.6256L12.3081 26.6313ZM16.7744 27.2256C16.9065 25.2903 17.5405 23.4228 18.6137 21.8069L22.1987 25.375C20.5834 26.4503 18.7158 27.0861 16.78 27.22L16.7744 27.2256ZM28 39.25C25.6632 39.2468 23.3852 38.5171 21.4814 37.162C19.5777 35.8068 18.1424 33.8932 17.3744 31.6863C21.0599 31.3585 24.5128 29.7454 27.1291 27.1291C29.7454 24.5128 31.3585 21.0599 31.6862 17.3744C34.1967 18.2475 36.3169 19.9814 37.671 22.2685C39.0252 24.5557 39.5258 27.2484 39.0841 29.8694C38.6424 32.4904 37.287 34.8704 35.2581 36.5874C33.2293 38.3045 30.6579 39.2478 28 39.25Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<p>N’altère pas le support utilisable sur tous matériaux, même très fragiles</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="38" viewbox="0 0 48 38" fill="none">
							<path d="M47.1788 2.43438C47.1462 1.88457 46.9131 1.36579 46.5237 0.976331C46.1342 0.586875 45.6155 0.353795 45.0656 0.321252C35.0756 -0.267498 27.0281 2.82813 23.5331 8.5975C21.2569 12.3475 21.1781 16.8794 23.2594 21.2163C22.3693 22.3511 21.6585 23.6158 21.1519 24.9663L19.3331 23.1475C20.6813 20.0031 20.5388 16.7519 18.8831 14.0181C16.2619 9.6925 10.2919 7.375 2.91564 7.8025C2.36583 7.83505 1.84705 8.06812 1.45759 8.45758C1.06814 8.84704 0.835056 9.36582 0.802513 9.91563C0.375013 17.2919 2.69251 23.2619 7.02189 25.8831C8.49022 26.7781 10.1773 27.2498 11.8969 27.2463C13.3629 27.2342 14.8112 26.9235 16.1531 26.3331L20.25 30.4375V35.5C20.25 36.0967 20.4871 36.669 20.909 37.091C21.331 37.513 21.9033 37.75 22.5 37.75C23.0968 37.75 23.669 37.513 24.091 37.091C24.513 36.669 24.75 36.0967 24.75 35.5V29.9706C24.7454 27.9594 25.3673 25.9966 26.5294 24.355C28.4105 25.2497 30.4634 25.7256 32.5463 25.75C34.7879 25.7553 36.9875 25.1415 38.9025 23.9763C44.6719 20.4719 47.7675 12.4225 47.1788 2.43438ZM9.35251 22.0338C6.87939 20.5338 5.38126 16.885 5.25939 12.2594C9.88501 12.3813 13.5356 13.8813 15.0338 16.3525C15.6196 17.3054 15.8599 18.4309 15.7144 19.54L13.59 17.4081C13.1673 16.9854 12.594 16.748 11.9963 16.748C11.3985 16.748 10.8252 16.9854 10.4025 17.4081C9.97982 17.8308 9.74236 18.4041 9.74236 19.0019C9.74236 19.5996 9.97982 20.1729 10.4025 20.5956L12.5288 22.7219C11.4227 22.8585 10.3029 22.6159 9.35251 22.0338ZM36.5719 20.125C34.5731 21.3344 32.2594 21.5631 29.8575 20.83L36.8419 13.8475C37.2646 13.4248 37.502 12.8515 37.502 12.2538C37.502 11.656 37.2646 11.0827 36.8419 10.66C36.4192 10.2373 35.8459 9.99985 35.2481 9.99985C34.6504 9.99985 34.0771 10.2373 33.6544 10.66L26.67 17.6425C25.9444 15.25 26.1731 12.9269 27.375 10.9375C29.7694 6.98313 35.4375 4.73688 42.75 4.75C42.7763 12.0625 40.5263 17.7213 36.5719 20.125Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>Zéro produit chimique</h3>
							<p>traitement curatif par l’action de la très haute température</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 48 48" fill="none">
							<path d="M47.25 24C47.2503 26.2252 46.5906 28.4006 45.3545 30.2509C44.1183 32.1012 42.3612 33.5433 40.3054 34.3949C38.2495 35.2465 35.9873 35.4693 33.8048 35.0351C31.6224 34.6009 29.6177 33.5292 28.0444 31.9556L27.9525 31.8562L16.7287 19.1831C15.7798 18.2516 14.5769 17.6211 13.271 17.3707C11.9651 17.1204 10.6143 17.2613 9.38818 17.7758C8.16205 18.2903 7.1152 19.1556 6.37901 20.2629C5.64282 21.3702 5.25008 22.6703 5.25008 24C5.25008 25.3297 5.64282 26.6298 6.37901 27.7371C7.1152 28.8444 8.16205 29.7097 9.38818 30.2242C10.6143 30.7387 11.9651 30.8796 13.271 30.6293C14.5769 30.3789 15.7798 29.7484 16.7287 28.8169L17.3062 28.1644C17.7018 27.7168 18.259 27.4447 18.8552 27.408C19.4514 27.3713 20.0377 27.5728 20.4853 27.9684C20.9328 28.364 21.2049 28.9212 21.2417 29.5174C21.2784 30.1136 21.0768 30.6999 20.6812 31.1475L20.0531 31.8562L19.9612 31.9556C18.3878 33.5288 16.3833 34.6 14.201 35.034C12.0188 35.4679 9.75689 35.245 7.70133 34.3935C5.64577 33.5419 3.88887 32.1 2.65279 30.25C1.41671 28.4 0.756958 26.225 0.756958 24C0.756958 21.775 1.41671 19.6 2.65279 17.75C3.88887 15.9 5.64577 14.4581 7.70133 13.6065C9.75689 12.755 12.0188 12.5321 14.201 12.966C16.3833 13.4 18.3878 14.4712 19.9612 16.0444L20.0531 16.1437L31.2769 28.8169C32.2258 29.7484 33.4286 30.3789 34.7346 30.6293C36.0405 30.8796 37.3913 30.7387 38.6174 30.2242C39.8436 29.7097 40.8904 28.8444 41.6266 27.7371C42.3628 26.6298 42.7555 25.3297 42.7555 24C42.7555 22.6703 42.3628 21.3702 41.6266 20.2629C40.8904 19.1556 39.8436 18.2903 38.6174 17.7758C37.3913 17.2613 36.0405 17.1204 34.7346 17.3707C33.4286 17.6211 32.2258 18.2516 31.2769 19.1831L30.6994 19.8356C30.5035 20.0572 30.2659 20.2381 30.0001 20.3679C29.7343 20.4976 29.4456 20.5738 29.1504 20.592C28.8552 20.6102 28.5593 20.5701 28.2796 20.4739C27.9999 20.3777 27.7419 20.2274 27.5203 20.0316C27.2987 19.8357 27.1178 19.5981 26.9881 19.3323C26.8583 19.0665 26.7821 18.7778 26.7639 18.4826C26.7457 18.1874 26.7859 17.8915 26.882 17.6118C26.9782 17.3321 27.1285 17.0741 27.3244 16.8525L27.9525 16.1437L28.0444 16.0444C29.6177 14.4708 31.6224 13.3991 33.8048 12.9649C35.9873 12.5307 38.2495 12.7535 40.3054 13.6051C42.3612 14.4567 44.1183 15.8988 45.3545 17.7491C46.5906 19.5994 47.2503 21.7748 47.25 24Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>Nettoyage durable</h3>
							<p>traitement en profondeur avec destruction des germes</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="45" viewbox="0 0 36 45" fill="none">
							<path d="M19.29 1.15688C18.9119 0.892273 18.4615 0.750351 18 0.750351C17.5385 0.750351 17.0881 0.892273 16.71 1.15688C13.8107 3.29357 11.1582 5.74615 8.80125 8.46938C3.53438 14.5181 0.75 20.9288 0.75 27C0.75 31.575 2.56741 35.9626 5.80241 39.1976C9.03741 42.4326 13.425 44.25 18 44.25C22.575 44.25 26.9626 42.4326 30.1976 39.1976C33.4326 35.9626 35.25 31.575 35.25 27C35.25 12.495 19.9425 1.6125 19.29 1.15688ZM18 39.75C14.6196 39.7465 11.3786 38.4021 8.98823 36.0118C6.59789 33.6214 5.25347 30.3804 5.25 27C5.25 20.7544 9 15.1181 12.1312 11.4919C13.919 9.43834 15.8827 7.54489 18 5.83313C20.1173 7.54489 22.081 9.43834 23.8688 11.4919C27 15.1181 30.75 20.7544 30.75 27C30.7465 30.3804 29.4021 33.6214 27.0118 36.0118C24.6214 38.4021 21.3804 39.7465 18 39.75ZM27.3037 29.925C26.8328 31.4223 26.0072 32.7837 24.8974 33.8936C23.7875 35.0035 22.426 35.829 20.9287 36.3C20.7102 36.368 20.4826 36.4027 20.2537 36.4031C19.7159 36.4035 19.1957 36.2112 18.7874 35.8611C18.3791 35.511 18.1098 35.0262 18.0282 34.4945C17.9466 33.9629 18.0581 33.4196 18.3425 32.9632C18.627 32.5067 19.0655 32.1672 19.5788 32.0062C20.3857 31.7527 21.1194 31.308 21.7174 30.7099C22.3155 30.1119 22.7602 29.3782 23.0138 28.5713C23.1024 28.2893 23.2457 28.0276 23.4355 27.8011C23.6253 27.5745 23.8578 27.3876 24.1199 27.2509C24.6491 26.9749 25.2662 26.9204 25.8356 27.0994C26.1176 27.188 26.3793 27.3313 26.6058 27.5211C26.8324 27.7109 27.0193 27.9434 27.156 28.2055C27.2927 28.4675 27.3764 28.7539 27.4024 29.0483C27.4284 29.3427 27.3961 29.6393 27.3075 29.9212L27.3037 29.925Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>Écologique</h3>
							<p>nettoyeur haute pression traditionnel</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="42" height="40" viewbox="0 0 42 40" fill="none">
							<path d="M34.3 14.3963C34.3 14.2932 34.3 14.1901 34.3 14.0851C34.3 10.5047 32.8777 7.07088 30.3459 4.53914C27.8142 2.0074 24.3804 0.585083 20.8 0.585083C17.2196 0.585083 13.7858 2.0074 11.2541 4.53914C8.72232 7.07088 7.30001 10.5047 7.30001 14.0851C7.30001 14.1901 7.30001 14.2932 7.30001 14.3963C5.71574 15.2566 4.31983 16.4255 3.19463 17.834C2.06942 19.2425 1.23772 20.8621 0.748592 22.5972C0.259463 24.3324 0.122813 26.1479 0.346707 27.9367C0.570601 29.7255 1.1505 31.4514 2.0522 33.0124C2.95389 34.5735 4.15911 35.9381 5.59676 37.0258C7.0344 38.1136 8.67533 38.9023 10.4228 39.3456C12.1702 39.7889 13.9887 39.8777 15.771 39.6068C17.5533 39.3358 19.2632 38.7107 20.8 37.7682C22.3368 38.7107 24.0468 39.3358 25.829 39.6068C27.6113 39.8777 29.4298 39.7889 31.1773 39.3456C32.9247 38.9023 34.5656 38.1136 36.0033 37.0258C37.4409 35.9381 38.6461 34.5735 39.5478 33.0124C40.4495 31.4514 41.0294 29.7255 41.2533 27.9367C41.4772 26.1479 41.3405 24.3324 40.8514 22.5972C40.3623 20.8621 39.5306 19.2425 38.4054 17.834C37.2802 16.4255 35.8843 15.2566 34.3 14.3963ZM26.56 21.0001C26.0606 19.7755 25.3833 18.6314 24.55 17.6045C26.0524 17.0685 27.6709 16.9442 29.2375 17.2445C28.6827 18.7076 27.7575 20.0017 26.5525 21.0001H26.56ZM20.8 32.0288C19.6519 30.7303 18.9049 29.1269 18.6494 27.4126C20.0739 27.6425 21.5261 27.6425 22.9506 27.4126C22.6951 29.1269 21.9481 30.7303 20.8 32.0288ZM12.3738 17.2445C13.9404 16.9442 15.5588 17.0685 17.0613 17.6045C16.228 18.6314 15.5507 19.7755 15.0513 21.0001C13.849 20.0008 12.9265 18.7068 12.3738 17.2445ZM20.8 23.0851C20.2375 23.0846 19.6763 23.0312 19.1238 22.9257C19.5089 21.9036 20.0769 20.96 20.8 20.1413C21.5231 20.96 22.0911 21.9036 22.4763 22.9257C21.9237 23.0312 21.3625 23.0846 20.8 23.0851ZM20.8 5.08508C22.956 5.08801 25.0396 5.8637 26.6726 7.2714C28.3056 8.6791 29.3799 10.6255 29.7006 12.7576C26.6329 12.2616 23.488 12.8426 20.8 14.402C18.112 12.8426 14.9671 12.2616 11.8994 12.7576C12.2201 10.6255 13.2944 8.6791 14.9274 7.2714C16.5604 5.8637 18.644 5.08801 20.8 5.08508ZM5.05001 26.0851C5.04955 24.7646 5.34035 23.4602 5.90168 22.265C6.46301 21.0697 7.28104 20.013 8.29751 19.1701C9.43339 21.946 11.4561 24.268 14.05 25.7738C14.05 25.877 14.05 25.9801 14.05 26.0851C14.0456 29.1727 15.105 32.1676 17.05 34.5657C15.6929 35.0455 14.2405 35.1928 12.8147 34.9952C11.3889 34.7977 10.0313 34.261 8.85575 33.4302C7.68025 32.5995 6.72115 31.4989 6.05895 30.2208C5.39674 28.9428 5.05075 27.5245 5.05001 26.0851ZM27.55 35.0851C26.5277 35.0848 25.5129 34.9091 24.55 34.5657C26.495 32.1676 27.5544 29.1727 27.55 26.0851C27.55 25.9801 27.55 25.877 27.55 25.7738C30.1468 24.2693 32.1722 21.9472 33.31 19.1701C34.7312 20.354 35.7531 21.947 36.2366 23.7323C36.7201 25.5177 36.6418 27.4087 36.0123 29.148C35.3829 30.8872 34.2328 32.3903 32.7186 33.4526C31.2044 34.515 29.3997 35.085 27.55 35.0851Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>La <i class="fw-700">STEAM_Tec</i> est polyvalente</h3>
							<p>Nettoyage, désherbage et désinfection</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="content_liste_application_nettoyage">
			<ul class="content_liste_application_nettoyage_inner">
				<li class="list_nettoyage_item" id="nettoyage_toiture">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Nettoyage de toitures vapeur</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Les toitures sont généralement recouvertes de 4 types de tuiles (matériaux) :</p>
									<ul>
										<li>l'ardoise naturelle</li>
										<li>l'ardoise fibrociment</li>
										<li>la tuile terre cuite</li>
										<li>la tuile béton</li>
									</ul>
									<p>Bien que ces matériaux présentent des caractéristiques physiques très différentes (résistance thermique, porosité, étanchéité, résistance au gel, etc.), la <i class="fw-700">STEAM_Tec</i> s'adapte aisément en modulant la température et la pression de travail afin de préserver la toiture et de rendre le <span class="fw-700">nettoyage efficace</span>.</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/image1_liste_nettoyage.jpeg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="nettoyage_facade">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Nettoyage de facades vapeur</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Les façades de maisons sont composées principalement de 6 matériaux :</p>
									<ul>
										<li>enduit gratté / écrasé et à la chaux</li>
										<li>peinture</li>
										<li>crépis</li>
										<li>pierres de taille</li>
										<li>bardage bois</li>
										<li>brique</li>
									</ul>
									<p>Le <span class="fw-700">nettoyage vapeur basse pression</span> va permettre un nettoyage sans altérer les surfaces, curatif (prévenant la réapparition de <span class="fw-700">champignons ou autres mousses, algues et lichens) et écologique. La <i class="fw-700">STEAM_Tec</i> s’adapte à tous les supports grâce aux différents réglages (pression et température).</span></p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/image_nettoyage_facade.jpeg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="nettoyage_sol">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Nettoyage de sols et terrasses vapeur
								</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Cette surface extérieure doit supporter un nettoyage intensif. Elle est nettoyée quasiment tous les ans c'est pourquoi il faut préserver les propriétés des matériaux. Ainsi la <i class="fw-700">STEAM_Tec</i> est <span class="fw-700">la solution professionnelle</span> pour effectuer ce travail grâce à la vapeur d'eau.</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/terrasse_vapeur.jpg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="nettoyage_monument">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Nettoyage de monuments et monuments historiques vapeur
								</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Chaque <span class="fw-700">monument</span> ou site en pierre nécessite un nettoyage et un entretien pour leur préservation. Ces structures sont soumises aux éléments et, par conséquent, souffrent de l’accumulation de mousse et de champignons, ainsi que d’autres matières biologiques. Le nettoyage vapeur basse pression prend tout son sens pour respecter les surfaces et rendre leur éclat à ce <span class="fw-700">patrimoine</span>.</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/historique_vapeur.webp') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="nettoyage_bois">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Nettoyage de bois vapeur
								</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Le <span class="fw-700">nettoyage vapeur basse pression </span> est particulièrement adapté au traitement des différentes essences du 
									<span class="fw-700">bois</span> que cela soit en <span class="fw-700">bardage ou terrasses</span>, il permet de <span class="fw-700">dégriser</span> sans décoller les fibres de la matière, et grâce aux réglages (pression et température)</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/bois_vapeur.jpeg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="autre_application">
					<div class="container">
						<div class="row">
							<div class="col-md-7 mb-3">
								<h3>Autres applications
								</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>Bien d'autres applications sont possibles grâce à la vapeur d'eau :</p>
									<p>​La <i class="fw-700">STEAM_Tec</i> est indispensable pour maintenir votre <span class="fw-700">ville propre</span> et saine :
									</p>
									<ul>
										<li>Entretien du mobilier urbain (luminaires, bancs, aires de jeux, panneaux de signalisations, etc.)</li>
										<li>Désinfection de toilettes publiques, bacs, conteneurs, poubelles, etc.</li>
										<li>Décollage d’affiches</li>
										<li>Élimination de chewing-gums et certains graffitis</li>
									</ul>
									<p>Le  <span class="fw-700 fst-italic">STEAM_Tec</span> est également idéal pour effectuer des travaux de nettoyage spécifiques tels que :</p>
									<ul>
										<li>Bâtiments industriels et commerciaux</li>
										<li>Pièces mécaniques dans l’industrie et engins</li>
										<li>Parcs d’attractions</li>
										<li>Camping pour nettoyage bungallows, piscines, mobilier extérieur, sanitaires …</li>
										<li>Zones d’élevage et lieux de production agroalimentaire</li>
										<li>Bateaux</li>
									</ul>
									<p>Et bien d’autres encore …</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/autre_application.jpg') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<section class="content_decouvrir_gamme">
			<div class="container">
				<span class="content_usage">Accessoires</span>
                <div class="content_titre_et_lien_gamme">
				<h3>Découvrez notre gamme complète<br/>
					d’accessoires pour le nettoyage ou le désherbage
				</h3>
				<a href="{{ path('app_accessoire') }}#accessoire-nettoyage">Voir la gamme d’accessoires</a>
                </div>
			</div>
			<div class="owl-carousel owl-theme">
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
