{% extends "layout/frontend.layout.html.twig" %}

{% block title %}Utilisateur{% endblock %}

{% block content %}
    <div class="utilisateur">
        <div class="sub_title mb-5">
            <div class="container content">
                <div class="item">
                    <div class="title_logo">
                        <img src="{{ asset('assets/images/plante_about.png') }}" alt="Utilisateur" class="img-fluid rounded">
                    </div>
                    <h1 class="fs-40">Utilisateurs</h1>
                </div>
                <div class="item fs-18 fw-600 align-items-start">
                    <p>A qui s’adresse la STEAM_Tec ? Sociétés de nettoyage, sociétés dans le bâtiment (couvreurs, peintres, aérogommeurs, …), tailleurs de pierre et conservateur du patrimoine, créateurs d’entreprise, 
                        collectivités, paysagistes, ateliers d’insertion, propriétaire fonciers, Camping, parcs de loisirs et beaucoup d’autres …</p>
                </div>
            </div>
        </div>
        <div class="sub_title_content p-4 bg-white">
            <div class="container">
                <h2 class="fs-24 fw-700 roboto mx-100">
                    Quelques mots sur le marché : 
                </h2>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body card-liste-primary px-0">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="content">
                                            <p>L'intérêt grandissant  à l'utilisation d’un procédé écoresponsable (sans produit chimique) et durable pour le respect des surfaces extérieures fait que la demande ne manque pas.</p>
                                        </div>
                                    </div>
                                        <div class="col-md-6 mb-4">
                                        <div class="content">
                                            <p>Le nettoyage vapeur basse pression reste encore méconnu et s’annonce comme étant <strong>l’avenir du nettoyage</strong> extérieur. C'est le moment de prendre le train de la vapeur !</p>
                                        </div>
                                    </div>
                                        <div class="col-md-6 mb-4">
                                        <div class="content">
                                            <p>Comme nos clients, rejoignez la communauté de la vapeur, dans laquelle entraide et bienveillance sont de mise. un réseau qui commence à se développer et s’organise face aux pratiques moins respectueuses.</p>
                                        </div>
                                    </div>
                                        <div class="col-md-6 mb-4">
                                        <div class="content">
                                            <p>La diversité des marchés accessibles est infinie : particuliers, monuments, collectivités, industrie, agriculture, maritime , aire de repos, campings, parcs d'attractions…</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client">
            <div class="bg-light my-5 py-5 px-1">
                <div class="row container">
                    <div class="col-md-6">
                        <button class="btn btn-theme">Nos clients</button>
                        <h2 class="fw-700 roboto fs-32">Créateurs d’entreprise : </h2>
                        <p>Les créations d’entreprises de propreté sont en pleine progression. 
                        Lorsque l’on crée une entreprise, être sûr de se positionner sur un <strong>marché porteur</strong> est essentiel. C’est le cas du <strong>nettoyage extérieur</strong> et plus particulièrement celui fait en basse pression vapeur.</p>
                        <p>Avec un bon business plan, une bonne communication et bien sûr le bon matériel, le projet de création d’entreprise dans le domaine du nettoyage vapeur est tout à fait viable</p>
                        <p>Nombreux sont les créateurs d’entreprises qui ont choisi STEAM_Tec pour sa fiabilité, son amortissement raisonnable et l’accompagnement que nous proposons. Ils ont su faire leur place dans le milieu et être reconnu comme intervenants essentiels du développement durable.</p>
                        <p>Avec une <strong>rentabilité intéressante</strong>, lancer une entreprise de nettoyage vapeur permet de s’épanouir sereinement dans une activité indépendante.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/stat.jpg') }}" alt="Création d'entreprise de propreté" class="img-fluid rounded">
                    </div>
                </div>
            </div>
            <div class="my-5 py-5 px-1">
                <div class="row container">
                    <div class="col-md-6 d-flex align-items-start flex-column justify-content-center">
                        <button class="btn btn-theme">Nos clients</button>
                        <h2 class="fw-700 roboto fs-32">Les professionnels du nettoyage : </h2>
                        <p>Que ce soit avec produits ou avec un nettoyeur haute pression, certains professionnels du nettoyage extérieur ont pris conscience de l’enjeu environnemental dans leur activité.</p>
                        <p>Pouvoir proposer un <strong>nettoyage innovant, sans produits</strong>, sans risque d’abimer les supports même les plus fragiles, avec  une consommation d’eau raisonnable, permet d’améliorer l’image des prestations proposées.</p>
                        <p>Du fait de la basse pression vapeur, le travail est <strong>confortable et sans risque chimique</strong> pour l’utilisateur.</p>
                        <p>Avec un <strong>résultat immédiatet un support préservé</strong>, la solution de nettoyage vapeur basse pression avec STEAM_Tec est le moyen idéal pour un rendu impeccable. 
                        Grâce au temps de séchage rapide, le délai d’attente pour l’application d’hydrofuge est réduit. 
                        </p>
                        <p>Notre <strong>matériel professionnel</strong> est conçu pour être utilisé de façon intensive et par presque tous les temps. Sa mise en œuvre pratique et rapide fait de la STEAM_Tec une solution efficace.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/clt.jpg') }}" alt="nettoyage écologique façades" class="img-fluid rounded">
                    </div>
                </div>
            </div>
             <div class="my-5 py-5 px-1 bg-light">
                <div class="row container">
                    <div class="col-md-6 d-flex align-items-start flex-column justify-content-center">
                        <button class="btn btn-theme">Nos clients</button>
                        <h2 class="fw-700 roboto fs-32">Artisans du bâtiment :</h2>
                        <p>Couvreurs, professionnels de l’aérogommage, peintres, façadiers, restauration du patrimoine et monuments historiques… beaucoup de <strong>professionnels du bâtiment</strong> ont été séduits par la robustesse et l’efficacité de la STEAM_Tec</p>
                        <p>Idéal pour compléter votre activité principale, le nettoyage vapeur basse pression ouvre de nouvelles opportunités de diversification sur des marchés en croissance. Il est également idéal pour  préparer vos supports avant ravalement ou mise en peinture. 
                        Au lieu de remplacer ou de remettre à neuf, notre solution apporte une alternative souvent plus économique et non soumise aux aléas de disponibilité des matériaux.
                        Grâce à la basse pression vapeur, le travail est plus confortable. En effet, l’absence de projection, le moindre effort, les E.P.I. limités, l’absence de produit chimique et la nuisance sonore relativement faible, rendent l’activité respectueuse de l’utilisateur et de son environnement.</p>
                        <p>De part ses plages de réglage en pression et température, la STEAM_Tec allie rendement et respect des supports, même les plus fragiles. Elle répond parfaitement aux exigences de la restauration des monuments historiques et du patrimoine.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="img_epingle">
                            <img src="{{ asset('assets/images/nettoyage_ecologique_toiture.jpg') }}" alt="nettoyage écologique toiture" class="img-fluid rounded">
                            <img src="{{ asset('assets/images/preservation_patrimoine.jpg') }}" alt="préservation du patrimoine" class="img-fluid rounded">
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-5 py-5 px-1 ">
                <div class="row container">
                    <div class="col-md-6 d-flex align-items-start flex-column justify-content-center">
                        <button class="btn btn-theme">Nos clients</button>
                        <h2 class="fw-700 roboto fs-32">Collectivités :</h2>
                        <p>Clients historiques de ENTECH, les collectivités territoriales apprécient la polyvalence de la STEAM_Tec et l’écoresponsabilité de la solution. Effectivement, avec le même matériel, il est possible de désherber sans produit chimique et sans risque d’incendie, et de nettoyer efficacement et durablement l’ensemble des espaces publics.</p>
                        <p>Comme de nombreuses collectivités, choisissez l’expertise de ENTECH pour satisfaire vos administrés en terme de respect de l’environnement et de maintien d’un cadre de vie sain et agréable. </p>
                        <p>Fabriquée en France, simple d’utilisation et économique à l’usage, la STEAM_Tec saura répondre à vos multiples besoins en <strong>désherbage alternatifet nettoyage</strong>  extérieur.<br/>
                            Renforcez votre engagement pour des méthodes écologiques et innovantes en nous faisant confiance !</p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ asset('assets/images/nettoyage_ecologique_monument.jpg') }}" alt="nettoyage écologique monument" class="img-fluid rounded">
                    </div>
                </div>
            </div>
            <div class="mt-5 py-5 px-1 bg-light">
                <div class="row container">
                    <div class="col-md-6 d-flex align-items-start flex-column justify-content-center">
                        <button class="btn btn-theme">Nos clients</button>
                        <h2 class="fw-700 roboto fs-32">Autres :</h2>
                        <p>Les secteurs d’activité pour lesquels notre matériel est adapté sont nombreux : <br/>
                        En effet, des paysagistes aux chantiers d’insertion, en passant par les parcs d’attractions, les SCI, la désinfection de ferme, l’industrie, les campings et les franchises dans le nettoyage, tous ont,  pour l’entretien des extérieurs, besoin d’une solution polyvalente et efficace qu’ils peuvent utiliser sereinement.
                        Notre STEAM_Tec répond à tous ces besoins et bien plus ! Aucun risque d’altérer les supports traités, pas produit chimique et un résultat durable immédiat. De plus, notre dévouement pour vous satisfaire rend notre service après-vente imbattable. 
                        De la confection à l’accompagnement opérationnel, nous mettons tout en œuvre pour que votre expérience soit la plus agréable possible.<br/>
                        Faites comme certains de nos clients dans ces domaines d’activité, explorez le potentiel du nettoyage et du désherbage vapeur basse pression et proposez à vos clients une prestation écoresponsable dont vous êtes sûr qu’ils seront satisfait.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="img_epingle">
                            <img src="{{ asset('assets/images/nettoyage_bâtiment_commercia.jpg') }}" alt="nettoyage bâtiment commercial" class="img-fluid rounded">
                            <img src="{{ asset('assets/images/nettoyage_cordiste.jpeg') }}" alt="nettoyage cordiste" class="img-fluid rounded">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
