{% extends "layout/dashboard.layout.html.twig" %}

{% block title %}Arbre de dépannage - {{ problemType.name }}{% endblock %}

{% block content %}
    <div class="row flex-grow">
        <div class="col-md-12">
            {% for type, messages in {'success': 'alert-success', 'info': 'alert-primary', 'error': 'alert-danger'} %}
                {% for message in app.flashes(type) %}
                    <div class="alert {{ messages }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_arbre_de_depannage') }}">Arbre de dépannage</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ problemType.name }}</li>
                        </ol>
                    </nav>

                    {# Afficher les symptômes #}
                    <div class="row">
                        {% for symptom in symptoms %}
                            <a href="{{ path('app_arbre_de_depannage_show_symptom', {'problemTypeId': problemType.id, 'symptomId': symptom.id}) }}" class="text-decoration-none">
                                {{ symptom.description }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
