{% extends "layout/dashboard.layout.html.twig" %}
{% block title %}Arbre de dépannage - {{ problemType.name }}{% endblock %}

{% block content %}
    <div class="row flex-grow">
        <div class="col-md-12">
            {% for type, messages in {'success': 'alert-success', 'info': 'alert-primary', 'error': 'alert-danger'} %}
                {% for message in app.flashes(type) %}
                    <div class="alert {{ messages }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('app_arbre_de_depannage') }}">Arbre de dépannage</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ problemType.name }}</li>
                        </ol>
                    </nav>

                    <div class="card">
                        <div class="card-header">
                            <h1 class="h3 mb-0">{{ problemType.name }}</h1>
                        </div>
                        <div class="card-body">
                            <div class="decision-tree">
                                {# Utilise JOINTJS pour l'arbre de décision #}
                                <div id="decision-tree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
