{% extends "layout/dashboard.layout.html.twig" %}
{% block title %}{{is_edit ? 'chantiers.form.title.update'|trans : 'chantiers.form.title.create'|trans}} {{'chantiers.form.title.title'|trans}}{% endblock %}

{% block content %}
    <div class="row flex-grow">
        <div class="col-md-12">
            {% 
                include "components/shared/_alert.html.twig" 
                with { 'success_messages': app.flashes('success'), 'errors_messages': app.flashes('error') } 
            %}
        </div>
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                        <div>
                            <h4 class="card-title card-title-dash">{{is_edit ? 'chantiers.form.title.update'|trans : 'chantiers.form.title.create'|trans}}  {{'chantiers.form.title.title'|trans}}</h4>
                        </div>
                        <div>
                            <a href="{{ path('app_chantiers') }}" class="btn btn-primary btn-sm mb-0 me-0">
                                <i class="mdi mdi-arrow-left"></i> {{'chantiers.form.submit.cancel'|trans}}
                            </a>
                        </div>
                    </div>
                    <div class="mt-4">
                         {% include "admin/chantier/form.html.twig" with {'form': form, 'is_edit':is_edit} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
         $(document).ready(function() {
            $('.select2').select2({
                theme: 'bootstrap4',
                width: '100%',
                language: {
                    noResults: function() {
                        return "Aucune machine trouvée";
                    }
                }
            });
        });
    </script>
{% endblock %}