{% extends "layout/dashboard.layout.html.twig" %}
{% block title %} Chantiers {% endblock %}
{% block content %}
<div class="row flex-grow">
    <div class="col-md-12">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                    <div>
                        <h2 class="card-title card-title-dash">Chantiers</h2>
                    </div>
                    <div>
                        <a  href="{{path('app_chantier_create')}}" class="btn btn-primary btn-md text-white mb-0 me-0" type="button">
                            <i class="mdi mdi-account-plus"></i> Ajouter un nouveau chantier
                        </a>
                    </div>
                </div>
                <div class="table-responsive mt-1">
                    <table class="table select-table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>description</th>
                                <th>Machines</th>
                                <th>Créé le</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for chantier in chantiers %}
                                <tr>
                                    <td class="py-1">
                                        {{ chantier.name }}
                                    </td>
                                    <td class="py-1">
                                        {{ chantier.description|length > 30 ? chantier.description|slice(0, 30) ~ '...' : chantier.description }}
                                    </td>
                                    <td class="py-1">
                                    {% for machine in chantier.chantierMachines %}
                                        {% set machine = machine.parcMachine.machine %}
                                            <span class="badge badge-opacity-primary mb-1" >
                                                {{ machine.nom ~ ' | ' ~ machine.numeroIdentification  }}
                                            </span>
                                            <br>
                                    {% endfor %}
                                    </td>
                                    <td class="py-1">
                                        {{ chantier.createdAt|date('d-m-Y') }}
                                    </td>
                                    <td class="py-1">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{{path('app_chantier_show',{'chantier':chantier.id})}}" class="btn btn-primary btn-sm" type="button">
                                                <i class="mdi mdi-eye"></i>
                                            </a>
                                            <a href="{{path('app_chantier_edit',{'chantier':chantier.id})}}" class="btn btn-warning btn-sm" type="button">
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <button type="button" 
                                                class="btn btn-danger btn-sm delete-chantier-btn" 
                                                title="Supprimer"
                                                data-chantier-id="{{ chantier.id }}"
                                                data-chantier-name="{{ chantier.name}}"
                                                data-csrf-token="{{ csrf_token('delete' ~ chantier.id) }}">
                                                <i class="mdi mdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Confirmation Modal -->
{% include "components/_modal.html.twig" with {'context':'Le chantier'} %}
{% endblock %}
{% block script %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            if (typeof jQuery !== 'undefined') {
                $('.delete-chantier-btn').click(function() {
                    var chantierId = $(this).data('chantier-id');
                    var name = $(this).data('chantier-name');
                    var csrfToken = $(this).data('csrf-token');
                    $('#name').text(name);
                    $('#deleteForm').attr('action', "{{path('app_chantier_delete', {'chantier': 'CHATIERID'})}}".replace('CHATIERID', chantierId));
                    $('#csrfToken').val(csrfToken);
                    $('#deleteConfirmationModal').modal('show');
                });
                $('.btn-secondary').click(function() {
                    $('#deleteConfirmationModal').modal('hide');
                });
            } else {
                console.error('jQuery is not loaded!');
            }
        });
    </script>
{% endblock %}