{% extends 'layout/app.layout.html.twig' %}

{% block title %}Créer une machine{% endblock %}

{% block content %}
    <h3>Ajouter une nouvelle machine</h3>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.numeroIdentification) }}
                {{ form_widget(form.numeroIdentification, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.numeroIdentification) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.marque) }}
                {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.marque) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.tempUsage) }}
                {{ form_widget(form.tempUsage, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.tempUsage) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.seuilMaintenance) }}
                {{ form_widget(form.seuilMaintenance, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.seuilMaintenance) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.user) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.user) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
