{% extends "layout/dashboard.layout.html.twig" %}
{% block title %}{{is_edit ? 'machines.form.title.update'|trans : 'machines.form.title.create'|trans}}  {{'machines.form.title.title'|trans}}{% endblock %}

{% block content %}
    <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-start">
                    <div>  <h4 class="card-title card-title-dash">{{is_edit ? 'machines.form.title.update'|trans : 'machines.form.title.create'|trans}}  {{'machines.form.title.title'|trans}}</h4>
                    </div>
                        <div>
                            <a href="{{path('app_machines')}}" class="btn btn-secondary btn-md mb-0 me-0">
                                <i class="mdi mdi-arrow-left"></i>{{'machines.form.submit.cancel'|trans}}
                            </a>
                        </div>
                    </div>
                    <div class="mt-4">
                    <form method="post" enctype="multipart/form-data">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_label(form.numeroIdentification, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.numeroIdentification, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.numeroIdentification) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(form.numeroIdentification) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.nom) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(form.nom) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form_label(form.marque, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.marque, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.marque) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(form.marque) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form_label(form.seuilMaintenance, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.seuilMaintenance, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.seuilMaintenance) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(form.seuilMaintenance) }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                {{ form_label(form.ficheTechnique, null, {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(form.ficheTechnique, {'attr': {'class': 'form-control'}}) }}
                                {% if form_errors(form.ficheTechnique) %}
                                    <div class="invalid-feedback d-block">
                                        {{ form_errors(form.ficheTechnique) }}
                                    </div>
                                {% endif %}
                                {% if machine is defined and  machine.ficheTechnique %}
                                    {% include "components/machine/_file_render.html.twig" with {filename: machine.ficheTechnique.name, document:machine.ficheTechnique} %}
                                {% endif %}
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-end gap-2">
                                    {{ form_widget(form.save) }}
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form');
    const submitButton = form.querySelector('button[type="submit"]');
    const isEdit = submitButton.getAttribute('data-edit') === 'true';

    if (isEdit) { 
        submitButton.addEventListener('click', function(event) {
            event.preventDefault(); 
            Swal.fire({
                title: '{{ 'machines.form.update_swal.title'|trans }}',
                text: '{{ 'machines.form.update_swal.text'|trans }}',
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: '{{ 'machines.form.update_swal.confirmButtonText'|trans }}',
                cancelButtonText: '{{ 'machines.form.update_swal.cancelButtonText'|trans }}',
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    }
});
</script>

{% endblock %}
