{% extends "layout/frontend.layout.html.twig" %}
{% block content %}
	<div class="content_page_desherbage">
		<div class="content_nettoyage_top content_desherbage_top">
			<div class="container">
				<div class="content_nettoyage_top_inner">
					<div class="content_bloc_verte">
						<div class="row">
							<div class="col-md-5">
								<div class="content_image_left_nettoyage">
									<svg xmlns="http://www.w3.org/2000/svg" width="166" height="191" viewbox="0 0 166 191" fill="none">
										<g clip-path="url(#clip0_2048_1302)">
											<path d="M120.553 45.6533C120.991 44.4449 121.361 43.2107 121.662 41.9571C121.772 41.2494 122.027 40.5751 122.411 39.9812C122.795 39.3873 123.297 38.888 123.884 38.5179C124.936 37.7762 126.047 37.1296 127.203 36.5851C127.506 36.5113 127.821 36.5087 128.125 36.5773C128.428 36.646 128.714 36.7842 128.961 36.9822C129.062 37.2435 129.104 37.5263 129.081 37.8074C129.058 38.0885 128.972 38.3599 128.83 38.5996C128.33 39.1582 127.957 39.8274 127.737 40.5577C127.518 41.288 127.458 42.0606 127.563 42.8184C127.552 43.3234 127.688 43.82 127.951 44.243C128.215 44.666 128.594 44.9958 129.04 45.1891C129.336 45.2209 129.621 45.3241 129.873 45.4905C130.125 45.6569 130.336 45.8821 130.49 46.1483C130.645 46.4145 130.738 46.7145 130.763 47.0247C130.788 47.335 130.744 47.6471 130.634 47.9364C130.329 48.64 129.818 49.224 129.176 49.6044C128.534 49.9847 127.793 50.1419 127.06 50.0531C123.82 48.6226 120.798 49.7028 117.68 50.4794C117.06 50.5915 116.469 50.8385 115.946 51.2047C115.423 51.5708 114.979 52.0478 114.643 52.6048C113.913 53.8106 113.029 54.923 112.349 56.158C111.867 56.9204 111.579 57.7985 111.511 58.7097C111.549 62.1606 111.759 65.6116 111.919 69.4245C114.147 66.2042 114.833 62.2716 117.291 59.5213C117.572 59.6478 117.827 59.828 118.045 60.0527C118.109 62.6949 118.118 65.3371 118.179 67.9764C118.267 71.8273 116.436 75.071 115.125 78.4577C114.105 81.8969 112.291 85.0195 109.844 87.5493C109.29 88.372 108.984 89.349 108.965 90.355C108.769 91.5608 108.79 92.7987 108.664 94.0191C108.273 97.8583 107.858 101.698 107.391 106.106C110.231 102.741 112.866 99.1911 115.28 95.4788C117.22 91.626 118.924 87.6472 120.38 83.567C118.836 80.6883 118.859 78.846 120.401 76.9833C120.632 76.5235 121.024 76.1759 121.496 76.014C121.967 75.8522 122.48 75.8888 122.926 76.1162C123.178 76.2243 123.403 76.3885 123.588 76.5973C123.773 76.8061 123.912 77.0546 123.996 77.3254C124.08 77.5963 124.106 77.8831 124.074 78.1658C124.042 78.4486 123.951 78.7205 123.808 78.9628C123.417 79.7861 123.043 80.6153 122.663 81.4445C120.81 85.4852 118.961 89.5288 117.37 93.7651C119.639 92.1739 122.45 91.4527 123.417 88.2616C123.863 86.7902 126.833 85.6983 128.252 86.0486C128.523 86.0697 128.784 86.1669 129.008 86.33C129.231 86.4932 129.408 86.7163 129.521 86.976C129.634 87.2357 129.678 87.5225 129.649 87.8062C129.62 88.0899 129.518 88.3601 129.355 88.5886C128.864 89.4514 128.163 90.1621 127.324 90.6483C126.484 91.1346 125.537 91.3789 124.579 91.3564C123.621 91.3144 122.674 91.5792 121.863 92.1155C118.654 94.3408 115.878 97.1854 113.683 100.498C115.677 99.4261 117.624 98.2408 119.683 97.3153C121.209 96.6768 122.791 96.1948 124.406 95.8759C124.614 95.7859 124.837 95.7446 125.061 95.7548C125.285 95.7651 125.505 95.8266 125.704 95.9352C125.903 96.0437 126.077 96.1966 126.213 96.3831C126.35 96.5695 126.446 96.7851 126.494 97.0145C126.635 97.9844 126.449 98.9753 125.968 99.8174C124.573 101.753 121.823 101.306 120.039 98.8919C117.504 99.5523 115.225 101.012 113.508 103.073C113.337 103.316 113.121 103.521 112.873 103.673C112.624 103.826 112.348 103.924 112.062 103.96C110.133 103.884 109.347 105.277 108.498 106.675C107.05 109.058 105.114 111.157 104.425 114.704C109.12 111.756 113.081 108.395 118.319 107.035C118.415 107.522 118.405 108.026 118.29 108.509C116.372 111.326 114.465 114.161 112.404 116.865C109.733 120.464 105.842 122.848 101.537 123.524C101.152 123.583 100.77 123.679 100.381 123.72C95.996 124.082 96.0252 124.135 91.6167 126.645C90.2027 127.334 88.7358 127.897 87.2314 128.327C85.8534 128.818 84.4549 129.255 83.0681 129.714C81.2405 126.187 77.5735 127.267 74.8612 125.878L74.0846 127.372C73.9061 127.374 73.7301 127.328 73.5737 127.238C72.7168 125.615 71.365 124.339 69.7344 123.615C69.1092 123.322 68.5128 122.966 67.9535 122.552C64.9988 120.39 61.5402 119.107 57.9452 118.838C53.1079 118.459 48.6066 116.104 45.4114 112.281C43.2743 109.624 40.9532 107.093 39.9897 103.63C39.8584 103.163 39.7708 102.681 39.6248 102.045C40.6448 101.831 41.6984 101.871 42.701 102.161C43.7036 102.452 44.627 102.985 45.3968 103.718C47.6157 105.551 49.7353 107.528 51.9075 109.429C52.6197 110.134 53.507 110.616 54.4679 110.818C53.6359 109.128 52.833 107.423 51.9688 105.753C49.3624 100.933 47.6404 95.6454 46.8916 90.1623C46.6771 88.4405 45.9697 86.8272 44.8625 85.5348C41.9074 81.6439 38.2421 78.4083 34.0805 76.0169L33.9404 79.1029C32.5623 79.9993 31.2164 80.7408 29.9055 79.3365C28.4749 77.7979 27.0502 76.1454 27.2925 73.7572C27.4443 72.2682 28.6034 71.7193 30.2033 72.5368C32.7346 73.8302 35.1783 75.3163 37.6482 76.7381C38.1358 77.0155 38.5825 77.3687 39.6219 78.0752C38.1862 74.9731 36.13 72.2308 33.5929 70.0347C33.3804 69.8539 33.1296 69.7289 32.8614 69.67C32.5933 69.611 32.3156 69.62 32.0514 69.6961C31.8408 69.8308 31.6061 69.9189 31.3618 69.9551C31.1174 69.9912 30.8686 69.9745 30.6306 69.9062C30.3926 69.8378 30.1705 69.7191 29.978 69.5574C29.7855 69.3958 29.6267 69.1945 29.5114 68.9662C28.5975 67.6806 27.8449 66.2775 27.272 64.7911C27.2266 64.5865 27.2341 64.3729 27.2938 64.1722C27.3534 63.9716 27.4631 63.7912 27.6115 63.6497C27.7599 63.5081 27.9416 63.4105 28.138 63.3669C28.3344 63.3232 28.5384 63.3352 28.7289 63.4014C29.5756 63.5357 30.4018 63.7634 31.2514 63.9532C32.2733 67.6494 32.2733 67.6494 34.9476 68.9895C33.5287 65.6116 32.2616 62.5839 30.977 59.568C30.8564 59.2862 30.6541 59.0512 30.3989 58.8965C26.7845 56.9404 27.0122 53.6647 27.4589 50.1962C30.9682 50.9465 31.7069 51.3786 31.8675 54.6047C32.2616 62.6511 36.3432 69.0187 40.0423 75.5995C40.9269 77.179 41.7094 78.8256 42.6524 80.3671C43.6275 81.9641 44.7399 83.4706 45.9807 85.2924C46.2119 84.9186 46.3798 84.5057 46.477 84.0721C45.5778 78.9657 46.5968 73.8827 46.6697 68.791C46.7565 67.7729 46.5681 66.7498 46.1262 65.8385C45.6843 64.9273 45.0066 64.1648 44.1706 63.6379C42.4604 62.5307 40.9979 61.0507 39.8825 59.2985C38.7671 57.5463 38.025 55.5631 37.7066 53.4836C37.3446 51.4779 36.7665 49.513 36.4103 47.5072C36.317 46.4706 36.3073 45.4275 36.3811 44.3892C39.0555 44.9964 40.8481 45.9803 41.6685 48.5641C42.4363 50.9815 43.4903 53.3026 44.4187 55.6646C44.7877 56.6809 45.2491 57.6576 45.7968 58.5812C45.5691 45.2095 40.9503 34.3808 29.6165 27.838C27.0998 28.1242 24.7116 28.3431 22.3467 28.6935C21.0037 28.8979 19.6899 29.3212 18.3644 29.6511C16.3558 30.1533 15.7894 30.0219 13.8391 28.3607L18.5746 24.6528C17.6058 24.4738 16.6088 24.5698 15.6873 24.9307C14.7658 25.2916 13.9532 25.9043 13.334 26.7052C12.7222 27.3792 12.3349 28.2422 12.2296 29.1656C12.1244 30.089 12.307 31.0233 12.7501 31.8291C13.3924 33.0933 13.9121 34.4217 14.5953 35.6567C14.771 36.1234 15.0775 36.5235 15.4746 36.8044C15.8717 37.0853 16.3407 37.2338 16.82 37.2303C18.6126 37.2683 20.1016 40.004 19.6199 41.7907C19.5311 42.1379 19.3661 42.4585 19.138 42.727C18.91 42.9955 18.6252 43.2044 18.3065 43.3372C17.9877 43.4699 17.6437 43.5228 17.302 43.4915C16.9602 43.4602 16.6302 43.3457 16.3382 43.1571C15.5316 42.459 14.8622 41.6032 14.3675 40.6375C13.9886 39.9348 13.6616 39.2028 13.3895 38.4478C13.1701 38.5674 12.9741 38.7287 12.8114 38.9237C12.2041 41.2885 11.7165 41.7265 10.2713 41.1484C8.52836 40.4536 7.50651 38.5938 8.60427 37.3413C10.3268 35.3793 9.56773 33.1604 9.71078 30.927C9.39547 31.4758 9.05096 32.0072 8.77069 32.5736C7.43352 35.3005 6.11679 38.042 4.78838 40.7747C4.6451 41.3249 4.30153 41.7943 3.83149 42.082C3.36145 42.3697 2.80247 42.4528 2.27463 42.3133C1.66539 42.1182 1.14086 41.7053 0.792474 41.1467C0.444083 40.5881 0.293922 39.9191 0.368142 39.2565C0.622145 36.4741 1.59143 35.8027 4.89348 36.1851C5.28548 35.6199 5.61277 35.0085 5.86861 34.3633C6.20992 32.9248 6.82662 31.5738 7.6813 30.3925C8.53598 29.2111 9.61083 28.2238 10.8407 27.4906C11.2211 27.1725 11.541 26.7823 11.7837 26.3403C12.7121 25.0102 13.9668 23.9682 15.4148 23.3246C16.8627 22.6811 18.45 22.4601 20.0081 22.685C21.6256 22.8397 23.243 23.0353 25.4531 23.2777C21.3745 18.8312 20.0899 13.3774 17.69 8.52502C17.7625 8.23735 17.8885 7.96753 18.0608 7.73093C18.6423 7.89085 19.1968 8.14392 19.7045 8.48122C22.3458 10.9142 24.9539 13.3861 27.529 15.897C29.5224 17.8808 31.0305 20.3383 31.9259 23.0616C32.5382 24.8841 33.6516 26.4759 35.1257 27.6366C36.7356 29.1152 38.1096 30.8539 39.1956 32.7868C40.9649 35.5954 42.5152 38.5558 44.3925 41.3878C44.6348 38.3982 45.4698 35.5778 43.6801 32.5619C42.5123 30.597 42.4977 27.8818 41.9838 25.4965C41.7869 24.1876 41.5089 22.8934 41.1517 21.6223C40.8318 20.689 40.2818 19.861 39.5576 19.2224C38.7191 18.4369 38.08 17.4454 37.6978 16.3369C37.3155 15.2285 37.2022 14.038 37.368 12.8723C37.4404 12.3904 37.6208 11.9334 37.8943 11.5385C38.1678 11.1437 38.5267 10.8224 38.9416 10.6009C39.1853 10.5577 39.435 10.5693 39.674 10.635C39.9131 10.7008 40.136 10.8191 40.328 10.982C40.52 11.145 40.6766 11.3489 40.7874 11.5802C40.8982 11.8115 40.9607 12.0649 40.9707 12.3234C41.3882 14.0868 41.4145 15.9466 41.7386 17.7392C42.6028 22.5215 43.5429 27.2862 44.7603 32.0393C45.4386 30.9004 45.8716 29.6202 46.0289 28.2879C46.1862 26.9557 46.0642 25.6035 45.6712 24.3258C45.2648 23.0733 45.0146 21.7711 44.9268 20.4515C44.8481 20.1571 44.8349 19.8477 44.8881 19.547C44.9413 19.2464 45.0595 18.9625 45.2337 18.7172C45.4078 18.4718 45.6333 18.2714 45.8929 18.1314C46.1524 17.9915 46.4391 17.9156 46.731 17.9096C47.0228 17.9036 47.3121 17.9677 47.5767 18.0969C47.8413 18.2261 48.0741 18.4171 48.2573 18.6552C48.4405 18.8932 48.5692 19.172 48.6336 19.4702C48.698 19.7684 48.6964 20.0782 48.6288 20.3756C48.5937 22.0982 48.4098 23.8207 48.2609 25.9725C49.6516 24.3883 50.8607 22.6393 51.8637 20.761C52.3817 19.9139 53.0151 19.1506 53.7439 18.4954C54.0487 18.2887 54.3939 18.1559 54.7541 18.1069C55.1142 18.0579 55.4803 18.0939 55.8255 18.2122C56.1307 18.4212 56.3847 18.7023 56.5673 19.0329C56.7498 19.3635 56.8558 19.7344 56.8766 20.1157C56.7788 21.2079 56.4772 22.2693 55.989 23.2397C55.4112 24.3246 54.7696 25.3708 54.0679 26.3724L52.3366 23.3682C47.0493 27.9811 44.5939 39.1631 46.7486 46.862C48.9207 44.9643 49.0813 41.5134 51.8461 39.3529C51.6943 41.9951 51.5133 43.9658 51.487 45.9394C51.4491 49.1013 51.6213 52.272 51.4987 55.4281C51.3767 58.407 50.5929 61.3151 49.2098 63.9211C48.7519 64.8118 48.5434 65.8197 48.6083 66.829C49.2382 73.2422 49.4246 79.6948 49.166 86.1362C49.011 87.1003 49.0521 88.0879 49.2865 89.0342C49.521 89.9806 49.9435 90.8644 50.5265 91.6279C50.6323 91.7305 50.7164 91.8552 50.7732 91.9941C50.83 92.1329 50.8584 92.2827 50.8564 92.4337C49.2069 96.054 51.5688 98.8714 52.8359 101.706C54.3736 104.663 56.1452 107.48 58.132 110.126C58.5903 110.737 59.2527 111.144 59.9859 111.265C59.548 109.969 59.1684 108.646 58.6604 107.382C56.0402 100.94 55.2485 93.8433 56.3803 86.942C56.5441 86.1022 56.5442 85.2364 56.3807 84.3965C56.2171 83.5566 55.8932 82.7601 55.4285 82.0546C54.832 81.191 54.4124 80.2076 54.1958 79.1662C53.9793 78.1247 53.9705 77.0475 54.1701 76.0023C57.2853 75.3075 58.4765 76.1541 58.3189 79.1117C58.1962 81.4532 57.7495 83.7743 57.5131 86.1099C57.2692 87.9063 57.3215 89.7333 57.6678 91.5112C59.1363 89.2806 60.637 87.0792 62.0413 84.8078C62.2338 84.239 62.3392 83.6418 62.3537 83.0385C62.4613 82.1328 62.6924 81.2479 63.0398 80.4109C63.2255 80.1343 63.4643 79.9014 63.7408 79.7269C64.0173 79.5525 64.3254 79.4404 64.6456 79.3978C65.6762 79.3015 66.6689 80.808 66.9024 82.586C67.0718 83.856 67.0688 85.1903 65.6499 85.6457C64.1697 86.1216 62.5844 86.2121 61.6034 87.7653C59.7404 90.1944 58.4654 93.059 57.8868 96.1153C58.4447 95.0528 59.0946 94.0462 59.8283 93.1082C60.5939 92.4786 61.4084 91.9171 62.2632 91.4294C62.7931 91.0461 63.4398 90.8817 64.0787 90.9679C64.7175 91.0542 65.3032 91.3849 65.7229 91.8965C66.2301 92.3069 66.59 92.8851 66.7442 93.537C66.8985 94.1889 66.8379 94.8763 66.5725 95.4876C66.155 95.9252 65.6081 96.201 65.0214 96.27C64.4347 96.339 63.843 96.1969 63.3435 95.8671C62.5287 95.4217 61.7606 94.8884 61.0516 94.276C60.73 94.4644 60.4527 94.7258 60.2399 95.0409C59.1305 98.5999 58.0065 102.2 59.437 105.934C60.4531 108.591 61.58 111.201 62.7712 113.773C63.8106 116.021 65.8484 116.935 68.479 118.073C66.0885 111.746 65.4185 104.849 66.5433 98.1473C66.9842 98.0164 67.4567 98.0741 67.8569 98.3079C68.2571 98.5417 68.5523 98.9324 68.6775 99.394C72.2978 105.505 74.3225 112.505 74.5488 119.694C74.5283 120.544 74.7203 121.385 75.1059 122.134C75.4916 122.883 76.0573 123.513 76.7472 123.962C79.0526 125.708 81.7463 126.807 84.5717 127.153C86.234 127.322 87.9106 127.063 89.4557 126.399C91.0009 125.735 92.3681 124.686 93.4385 123.343C93.9527 122.381 94.1419 121.265 93.9757 120.176C93.8474 114.033 94.4059 107.896 95.6398 101.89C96.0562 99.9872 96.9491 98.2347 98.2266 96.8131C102.883 103.592 100.445 110.532 99.7156 117.528C101.509 116.124 102.816 114.146 103.438 111.893C104.439 108.792 105.087 105.579 105.371 102.319C105.546 99.4604 105.937 96.6205 106.542 93.8264C106.958 91.8269 106.85 89.7467 106.229 87.8062C105.542 85.4805 104.815 83.1668 104.048 80.8663C103.821 79.7578 103.257 78.7561 102.442 78.011C101.626 77.2658 100.602 76.8172 99.5229 76.7322C98.8449 76.6285 98.1793 76.4494 97.5376 76.1979C95.9318 76.56 96.1829 79.1847 94.218 78.519C93.0268 78.1161 91.8502 77.6811 90.37 77.1527L89.8094 74.4842C90.4619 73.7579 91.3322 73.2874 92.2755 73.1509C93.2189 73.0144 94.1784 73.2201 94.9946 73.7338C96.7408 74.4891 98.5243 75.146 100.337 75.7016L100.705 75.0944L96.9974 70.6478C93.1494 71.7777 91.7422 70.2887 92.5714 65.9152H95.4792L99.8002 72.6098L100.413 72.3178C99.6513 69.3486 99.0003 66.3415 98.0631 63.4365C97.4897 62.4155 96.7962 61.4738 95.9989 60.6337C95.3771 59.6877 94.8253 58.5053 95.853 57.6061C96.5338 57.3052 97.2992 57.2906 97.9901 57.5652C99.2134 57.898 100.48 58.9637 99.9871 60.149C98.5623 63.5649 100.031 66.5925 100.831 69.6289C101.764 72.6297 102.885 75.5625 104.188 78.4081C104.947 80.2795 105.812 82.1072 106.845 84.4516C107.058 83.7131 107.23 82.9625 107.362 82.2035C107.479 81.0882 107.45 79.9554 107.581 78.8401C108.322 72.9255 106.915 66.935 103.639 62.0555C100.747 57.4918 99.382 52.0513 99.7594 46.5876C99.8528 44.8738 99.7739 43.1513 99.771 41.4316C102.209 41.8024 104.977 44.3103 107.333 48.3102C107.981 43.4461 108.638 38.6376 109.242 33.8232C109.311 33.2145 109.223 32.5977 108.988 32.0364C108.287 30.2203 108.139 28.2216 108.565 26.314C109.555 20.1537 111.96 14.481 113.867 8.53963C115.438 9.87679 115.437 9.87681 116.246 20.1187C117.797 19.0881 119.21 18.0925 120.672 17.1874C124.042 15.097 127.501 13.3862 130.298 10.16C132.555 7.55867 136.111 6.17477 139.136 4.32959C140.896 3.25519 142.736 2.32094 144.56 1.36916C145.219 1.09906 145.895 0.876664 146.584 0.703506C146.467 3.95592 143.912 5.36312 142.823 7.57033C141.569 9.63307 140.109 11.5512 138.47 13.2927C140.187 14.7613 141.906 16.2181 143.614 17.6954C143.896 17.9785 144.233 18.1931 144.603 18.3238C144.973 18.4545 145.365 18.4981 145.753 18.4515C146.141 18.4049 146.514 18.2693 146.845 18.0544C147.177 17.8394 147.46 17.5504 147.673 17.2079C147.849 16.9206 148.079 16.6735 148.349 16.4811C148.619 16.2887 148.922 16.1551 149.242 16.0881C149.562 16.0211 149.892 16.0221 150.212 16.0911C150.531 16.1601 150.834 16.2956 151.103 16.4897C151.472 17.1342 151.654 17.8775 151.625 18.6285C151.597 19.3795 151.36 20.1054 150.942 20.7172C150.374 21.0691 149.706 21.2042 149.054 21.0997C148.026 20.833 146.97 20.7112 145.912 20.7377C147.229 22.7814 148.475 24.8776 149.883 26.8483C150.194 27.2145 150.412 27.6574 150.516 28.1356C150.62 28.6138 150.606 29.1117 150.477 29.583C150.347 30.0542 150.106 30.4835 149.776 30.8309C149.445 31.1782 149.036 31.4322 148.586 31.5693C148.379 31.6565 148.156 31.6948 147.933 31.6816C147.71 31.6684 147.492 31.6039 147.295 31.4928C147.099 31.3816 146.928 31.2265 146.795 31.0384C146.662 30.8503 146.57 30.6338 146.525 30.4043C146.333 29.5151 146.303 28.5958 146.438 27.695C146.689 25.552 146.73 25.5579 144.998 23.4353C144.365 27.8556 143.524 31.9692 144.867 36.2056C145.649 38.6726 145.299 39.528 143.696 40.3222C143.46 40.5082 143.182 40.6287 142.889 40.6726C142.596 40.7164 142.297 40.6822 142.02 40.573C141.744 40.4638 141.497 40.2833 141.305 40.048C141.113 39.8128 140.98 39.5305 140.92 39.2273C140.597 38.5268 140.492 37.7378 140.62 36.9715C140.747 36.2052 141.102 35.5003 141.632 34.956C142.032 34.5173 142.34 33.9959 142.536 33.4253C142.733 32.8547 142.814 32.2474 142.773 31.6423C142.911 29.4 143.255 27.1665 143.349 24.9243C143.359 23.5023 143.26 22.0818 143.054 20.6763C142.879 19.3429 142.302 18.1031 141.406 17.1381C140.51 16.1731 139.343 15.5336 138.076 15.3131C135.215 14.705 132.253 14.8779 129.475 15.8152C130.748 16.0984 132.018 16.3874 133.294 16.6619C134.564 16.7945 135.77 17.3091 136.768 18.1437C137.765 18.9782 138.51 20.0971 138.914 21.3654C139.431 22.5679 140.041 23.724 140.739 24.8221C141.016 25.4667 141.258 26.1277 141.463 26.8016C139.568 26.498 137.982 26.3053 136.423 25.9637C135.753 25.883 135.132 25.5549 134.672 25.0382C134.139 24.3158 133.471 23.7148 132.709 23.272C131.947 22.8292 131.107 22.554 130.24 22.4631C127.165 21.5697 123.846 21.2661 121.475 18.4078C119.07 19.3192 117.089 21.1625 115.943 23.5579C114.455 26.5621 113.552 29.846 113.286 33.2188C113.265 35.2678 112.973 37.3039 112.416 39.2682C110.909 43.6242 111.204 48.1437 110.839 52.6078C110.844 53.5998 110.925 54.5898 111.081 55.5682C113.613 53.3639 114.439 50.5319 115.63 47.9715C116.783 45.4927 117.688 42.8914 118.766 40.3747C119.117 39.7041 119.3 38.951 119.298 38.186C119.295 37.421 119.107 36.6692 118.751 36.0012C118.252 35.1036 118.072 34.0501 118.243 33.027C118.414 32.0039 118.925 31.077 119.686 30.4102C120.807 29.2132 121.896 28.9329 122.771 29.6394C123.212 30.0909 123.494 30.6852 123.57 31.3256C123.647 31.966 123.515 32.6147 123.195 33.1663C121.452 37.3763 119.782 41.6214 118.097 45.8577C118.008 46.2064 117.95 46.5632 117.925 46.9233L120.588 45.6417L118.769 48.2693C121.569 48.2284 121.595 48.135 122.92 46.4766C123.633 45.569 124.546 44.8566 125.58 44.4008C126.949 43.8549 126.555 43.3148 125.951 42.2812C125.366 42.8779 124.739 43.4283 124.077 43.9278C122.967 44.6344 122.144 46.0299 120.553 45.6708V45.6533ZM24.9597 16.8079L23.97 15.0649L23.5992 15.3685L25.0006 16.767C25.4772 18.2988 26.2184 19.7259 27.1874 20.9771L27.8005 20.5187L24.9597 16.8079ZM108.845 59.8571L111.163 34.1006C110.779 34.3313 110.456 34.6584 110.223 35.0523C108.727 43.2205 108.263 51.5623 108.845 59.8571ZM101.301 48.1437C101.06 53.0815 102.518 57.946 105.409 61.8541C105.481 56.9405 104.04 52.1332 101.301 48.1437ZM109.298 63.6525C107.931 68.6333 108.901 73.6813 108.714 78.7C110.092 73.7368 111.16 68.7647 109.298 63.6525ZM97.1872 103.592C95.3362 107.186 94.7026 116.979 95.9318 120.324C96.2019 119.621 96.4015 118.89 96.5274 118.144C96.7785 113.297 96.9741 108.445 97.1872 103.592ZM140.055 5.43611C134.733 7.50025 130.841 10.487 129.568 13.6431C130.761 13.5188 131.922 13.1623 132.99 12.592C135.372 10.4374 137.539 8.02287 140.055 5.43905V5.43611ZM101.187 120.64L101.622 121.078L113.411 110.918C108.571 113.177 103.99 115.767 101.187 120.64ZM123.837 16.5276C123.717 16.7738 123.647 17.0436 123.633 17.3197C123.618 17.5957 123.659 17.872 123.753 18.1305C123.846 18.3891 123.99 18.6242 124.176 18.8208C124.361 19.0174 124.584 19.1711 124.83 19.272C125.348 19.5454 125.886 19.7768 126.438 19.964C129.665 21.0004 132.894 22.0106 136.123 23.0295L136.315 22.5332L123.837 16.5247V16.5276ZM52.5877 104.173C53.9103 109.399 59.6414 116.535 63.4602 117.347C59.07 113.718 55.38 109.249 52.5877 104.173ZM110.655 82.5831C111.715 78.8927 112.792 75.2111 113.817 71.512C113.944 70.8251 114.009 70.1271 114.01 69.4274C111.622 73.4856 109.94 77.7278 110.652 82.5831H110.655ZM47.9135 70.9281C46.5859 75.8863 46.5859 81.1313 47.9135 86.0895V70.9281ZM102.863 45.7088L107 57.7725C106.46 53.1479 106.971 48.6546 102.863 45.7088ZM69.241 104.579L68.5169 104.801L72.6686 117.659C72.1839 113.096 72.0409 108.421 69.241 104.579ZM71.7869 119.454L68.3943 108.786C68.1712 112.667 69.3865 116.489 71.7869 119.454ZM55.5686 116.476L45.934 109.767C48.2259 113.627 51.8316 115.274 55.5686 116.476ZM16.0375 27.9256C18.2184 28.2818 19.7045 27.7738 23.3423 25.5112C20.5687 25.4148 18.0929 25.6425 16.0375 27.9286V27.9256ZM116.48 67.6786C114.929 70.3413 113.82 75.1527 114.389 76.8519L116.48 67.6786ZM65.1624 118.976C66.345 120.451 68.011 121.41 69.8337 121.665C68.4323 120.491 67.3316 118.798 65.1624 118.976ZM138.882 9.08852L135.442 12.2417C138.07 11.795 138.114 11.757 138.879 9.08852H138.882ZM32.5419 27.3592L31.9638 28.019L36.5943 32.0539L37.1081 31.3824L32.5419 27.3592ZM111.651 25.4499C113.292 23.585 114.205 21.1426 114.208 18.6063L111.651 25.4499ZM48.7981 53.1566V47.3934C48.2281 48.2357 47.9219 49.2426 47.9219 50.275C47.9219 51.3074 48.2281 52.3143 48.7981 53.1566ZM22.9277 16.294C23.6956 19.0268 23.6956 19.0267 25.4211 20.2792L22.9277 16.294ZM48.8127 56.8616L47.8025 56.8995L48.0653 60.8468L48.5879 60.8088L48.8127 56.8616ZM54.4125 114.103L54.792 113.671L51.6389 111.569L51.3119 112.118L54.4125 114.103ZM98.8134 108.477L98.5565 108.515V112.982L98.8134 112.979V108.477ZM11.8304 33.8174C11.7574 36.4099 11.7574 36.4099 13.4041 36.118L11.8304 33.8174ZM31.0558 77.3862C31.1658 77.1932 31.2358 76.978 31.2615 76.7547C31.2872 76.5314 31.2679 76.305 31.2049 76.09C31.1418 75.875 31.0365 75.6763 30.8956 75.5068C30.7548 75.3373 30.5816 75.2008 30.3872 75.106C30.1297 75.1207 29.8776 75.1892 29.6457 75.3075L31.0558 77.3862ZM40.2087 50.5202L40.7109 50.0823L39.3153 48.5145L38.9854 48.8035L40.2087 50.5202ZM134.371 19.1202L134.488 18.6501L132.695 18.1976L132.596 18.6122L134.371 19.1202ZM107.041 98.34L107.42 98.3809V96.6847H107.245C107.175 97.2335 107.107 97.7834 107.041 98.3342V98.34ZM40.3985 52.5581L39.981 52.8442L40.9006 54.1873L41.1926 53.9537L40.3985 52.5581ZM45.7588 105.706L45.5895 106.027L46.5734 106.652L46.7602 106.302L45.7588 105.706ZM109.744 116.149C109.434 116.158 109.128 116.222 108.839 116.339C108.744 116.547 108.678 116.768 108.644 116.996L109.744 116.147V116.149Z" fill="white"/>
											<path d="M84.6622 128.599L83.0652 129.714C82.4666 130.035 82.0696 130.514 81.6696 130.832C80.6711 131.629 79.8741 132.584 79.0741 133.541C77.5544 135.352 76.3413 137.4 75.483 139.602C73.6846 143.909 72.8846 148.373 72.4875 152.997C72.289 157.622 72.4875 162.247 72.689 166.874C72.8875 171.499 72.8875 176.123 71.889 180.748C71.489 182.979 70.692 185.373 69.892 187.606C68.8827 189.832 67.6812 191.966 66.3009 193.983C63.5069 197.971 59.9129 201.798 56.5204 205.465C53.1278 209.135 49.9338 212.963 47.3412 217.109C44.9471 221.254 43.3472 225.721 43.5458 230.346V230.185C45.2375 231.545 46.4882 233.376 47.1397 235.446C47.5397 237.519 47.5397 239.435 46.9412 241.507C45.9427 245.496 43.1487 249.002 40.3546 252.193C37.5606 255.542 34.7666 258.733 32.9681 262.558C31.374 266.385 30.5741 270.373 30.7755 274.359C30.3755 270.373 31.1726 266.388 32.7696 262.558C34.3666 258.733 37.1606 255.381 39.9547 252.032C42.7487 248.684 45.5427 245.335 46.3427 241.347C46.7427 239.434 46.9412 237.362 46.3427 235.449C45.7442 233.534 44.7457 231.779 42.9502 230.346V230.185C42.5502 225.561 44.1472 220.776 46.5412 216.63C48.9353 212.323 52.3308 208.496 55.5219 204.829C58.9173 201.001 62.3099 197.334 65.1039 193.346C66.4995 191.273 67.6994 189.358 68.695 187.127C69.6906 184.897 70.292 182.66 70.692 180.43C71.489 175.963 71.489 171.338 71.2905 166.714C71.092 162.089 70.692 157.464 70.8905 152.84C71.092 148.215 71.889 143.43 73.6846 138.966C74.6831 136.733 75.8801 134.499 77.48 132.587C78.277 131.629 79.2726 130.671 80.0726 129.714C80.6711 129.238 81.0711 128.759 81.6696 128.438L83.2666 127.323L84.6622 128.599Z" fill="white"/>
											<path d="M78.0788 134.66C78.0788 134.66 78.4759 134.817 79.2759 135.296C80.0729 135.775 81.2699 136.414 82.6684 137.369C85.261 139.284 88.6536 142.472 90.8491 147.258C91.8476 149.491 92.4461 152.2 92.6475 155.07C92.8461 157.783 92.4461 160.813 93.4446 163.523C93.8446 164.959 94.8431 166.238 96.0401 167.032C97.4356 167.989 99.2341 168.468 101.03 169.105C102.028 169.426 102.825 169.744 103.824 170.223C104.621 170.702 105.421 171.338 106.019 171.975C107.216 173.251 108.013 174.848 108.413 176.442C109.213 179.63 109.213 182.821 110.01 185.851C110.609 188.882 112.206 191.749 114.401 194.143C116.597 196.537 119.189 198.449 121.986 200.204C124.579 201.956 127.373 203.392 129.373 205.147C131.373 206.902 132.363 209.135 132.564 211.047C132.763 212.963 132.363 214.714 131.966 215.99C131.566 217.427 131.166 218.384 130.967 219.181C130.567 219.818 130.369 220.297 130.369 220.297C130.369 220.297 130.567 219.978 130.768 219.181C130.967 218.384 131.367 217.427 131.764 215.99C132.164 214.557 132.363 212.963 132.164 211.047C131.965 209.135 130.967 207.062 128.97 205.308C126.973 203.553 124.182 202.116 121.586 200.522C118.792 198.771 116.197 196.855 113.803 194.461C111.409 192.07 109.61 189.2 109.015 186.009C108.215 182.821 108.215 179.63 107.216 176.602C106.816 175.166 106.019 173.572 104.822 172.456C104.238 171.829 103.565 171.291 102.825 170.859C102.032 170.37 101.15 170.045 100.23 169.902C98.4341 169.426 96.4372 168.947 94.8431 167.829C93.4179 166.835 92.3091 165.451 91.649 163.844C90.6506 160.813 90.8491 157.783 90.6505 155.231C90.489 152.699 89.8811 150.215 88.855 147.894C86.858 143.591 83.4655 140.56 81.0714 138.645C79.8744 137.69 78.6774 137.211 78.0759 136.732C77.2789 136.254 76.8789 136.093 76.8789 136.093L78.0788 134.66Z" fill="white"/>
											<path d="M67.6995 191.273C67.6995 191.273 67.498 191.594 67.2995 192.07C67.101 192.546 66.701 193.185 66.4996 194.143C66.301 195.101 65.901 196.216 65.901 197.492C65.7025 198.768 65.7025 200.204 65.7025 201.798C65.901 204.986 66.8995 208.656 68.4966 212.484C69.2936 214.396 70.2921 216.309 71.2906 218.224C72.2891 220.139 73.6847 222.051 74.4846 224.124C75.2817 226.197 75.4831 228.591 74.6831 230.504C73.6846 232.576 71.8891 234.171 70.0936 235.607C68.298 237.043 66.5025 238.319 65.1011 239.913C63.7055 241.347 63.107 243.101 62.9085 244.699C62.707 246.293 62.9085 247.726 63.3085 249.002C63.7055 250.278 64.1055 251.396 64.5055 252.351C64.1055 251.396 63.7055 250.438 63.3085 249.002C62.8571 247.56 62.7207 246.037 62.9085 244.538C63.1212 242.706 63.887 240.981 65.104 239.595C66.4996 237.998 68.298 236.722 70.0936 235.289C71.8891 233.852 73.6847 232.258 74.4846 230.346C75.2817 228.273 75.0831 226.2 74.2832 224.127C73.4861 222.054 72.2891 220.139 71.0921 218.224C69.9383 216.396 68.9364 214.476 68.0966 212.484C66.4996 208.656 65.504 204.829 65.104 201.638C64.9037 200.155 64.9037 198.653 65.104 197.171C65.3025 195.898 65.504 194.622 65.7025 193.825C65.901 192.867 66.301 192.231 66.4996 191.752C66.701 191.273 66.8995 190.955 66.8995 190.955L67.6995 191.273Z" fill="white"/>
											<path d="M95.8385 166.711C95.8385 166.711 95.8385 166.874 96.0399 167.353C96.0399 167.989 96.0399 168.626 95.6399 169.584C95.2399 170.381 94.6414 171.338 93.8444 172.296C93.0444 173.251 92.0488 174.208 91.2489 175.326C90.4489 176.445 90.0518 177.718 90.0518 179.151C90.0518 180.587 90.6504 182.182 91.4474 183.618C93.2459 186.648 96.2384 189.2 98.6325 192.388C99.8295 193.983 100.629 195.58 101.827 197.013C102.425 197.81 103.024 198.449 104.022 198.928C104.822 199.407 106.019 199.725 106.618 200.522C107.415 201.319 107.415 202.274 107.018 203.074C106.816 203.871 106.218 204.668 105.82 205.308C104.822 206.583 103.622 207.699 102.626 208.814C98.6325 213.281 96.0399 216.151 96.0399 216.151C96.0399 216.151 98.6325 213.12 102.425 208.656C103.424 207.538 104.422 206.262 105.421 204.986C105.818 204.35 106.218 203.553 106.618 202.913C106.816 202.116 106.816 201.319 106.218 200.683C105.619 200.044 104.621 199.886 103.622 199.247C102.626 198.768 102.028 197.971 101.228 197.334C99.8324 195.898 99.0325 194.143 97.8354 192.707C95.4414 189.679 92.2474 187.127 90.2504 183.936C89.2548 182.342 88.6534 180.748 88.4548 178.993C88.2563 177.399 88.8548 175.802 89.6519 174.369C90.4518 173.093 91.4474 172.135 92.2474 171.178C93.0444 170.223 93.4444 169.426 93.8444 168.787C94.0429 168.15 94.0429 167.671 94.0429 167.35C94.0429 166.874 93.8444 166.714 93.8444 166.714L95.8385 166.711Z" fill="white"/>
											<path d="M90.0486 180.587C90.0486 180.587 89.853 180.748 89.6515 181.066C89.453 181.387 89.053 181.703 88.8545 182.342C88.256 183.457 87.456 185.212 87.456 187.285C87.456 189.358 88.256 191.91 90.25 194.146C91.2485 195.258 92.6441 196.219 93.8411 197.174C95.2425 198.131 96.6381 199.407 97.4351 200.683C98.4336 202.116 99.0321 203.392 99.6306 204.829C100.229 206.262 101.029 207.538 101.628 208.814C103.023 211.366 104.223 213.917 105.219 215.99C105.817 217.109 106.217 217.906 106.416 218.863C106.617 219.818 106.416 220.615 106.019 221.254C105.619 221.891 105.02 222.051 104.62 222.212C104.223 222.37 104.022 222.212 104.022 222.212H104.62C105.02 222.051 105.619 221.891 106.019 221.254C106.419 220.775 106.617 219.818 106.217 219.021C106.019 218.066 105.42 217.269 104.822 216.151C103.625 214.078 102.428 211.684 101.026 209.135C100.229 207.859 99.6306 206.583 98.8336 205.147C98.0336 203.871 97.4351 202.435 96.4395 201.159C95.444 199.883 94.244 198.928 92.8455 197.971C91.4471 197.013 90.0515 196.058 88.8545 194.94C86.4604 192.546 85.6605 189.837 85.4619 187.446C85.2605 185.052 86.0604 183.139 86.659 181.863C87.0589 181.227 87.456 180.748 87.6574 180.43C87.7645 180.251 87.8984 180.089 88.0545 179.951L90.0486 180.587Z" fill="white"/>
											<path d="M91.4501 152.84C91.4501 152.84 92.4456 152.997 94.0427 153.158C95.6397 153.319 98.0337 153.637 100.828 154.116C103.622 154.752 107.017 155.71 109.811 157.464C111.207 158.261 112.605 159.216 114.202 160.016C115.739 160.809 117.471 161.141 119.192 160.974C120.987 160.813 122.783 160.334 124.579 160.016C126.377 159.695 128.17 159.537 129.968 159.377C131.764 159.219 133.361 159.219 135.159 159.059C136.753 159.059 138.35 159.059 139.749 159.38C141.144 159.698 142.344 160.174 143.141 160.81C143.938 161.453 144.738 162.089 145.138 162.568C144.338 161.45 142.54 160.016 139.749 159.537C138.35 159.216 136.753 159.216 135.159 159.377C133.562 159.537 131.764 159.537 130.167 159.698C128.371 159.856 126.576 160.016 124.78 160.495C122.984 160.813 121.189 161.45 119.192 161.61C117.195 161.931 114.999 161.45 113.402 160.653C111.607 159.856 110.208 158.901 108.813 158.101C106.019 156.507 102.828 155.707 100.229 155.231C97.4352 154.752 95.2397 154.594 93.4441 154.434C91.8471 154.273 90.8486 154.273 90.8486 154.273L91.4501 152.84Z" fill="white"/>
											<path d="M133.361 170.541C133.361 170.541 132.964 170.862 132.564 171.499C132.164 172.135 131.366 172.932 130.768 174.051C129.571 176.281 128.572 179.63 128.97 182.979C129.369 186.33 131.165 189.518 132.963 191.431C133.959 192.388 134.759 193.185 135.358 193.825L136.356 194.622C136.356 194.622 135.956 194.301 135.159 193.825C134.359 193.346 133.562 192.549 132.561 191.591C131.457 190.512 130.516 189.276 129.769 187.924C128.97 186.488 128.172 184.733 127.974 183.139C127.174 179.63 127.974 176.123 129.171 173.729C129.769 172.454 130.368 171.499 130.967 170.859C131.565 170.223 131.764 169.902 131.764 169.902L133.361 170.541Z" fill="white"/>
											<path d="M98.0336 153.637L103.026 156.346L105.42 157.783C105.817 158.104 106.217 158.261 106.617 158.58C107.017 158.901 107.414 159.219 107.616 159.537C110.208 162.247 111.207 165.435 113.402 168.15L113.204 167.99C116.398 167.829 119.79 169.265 120.987 171.656C121.387 171.978 121.986 171.657 122.184 171.338C122.184 171.817 121.387 171.975 120.987 171.817C119.589 169.584 116.398 168.308 113.402 168.626H113.204L113.002 168.468C111.805 167.192 110.807 165.598 110.01 164.162C109.011 162.726 108.013 161.292 106.816 160.174C106.419 159.856 106.217 159.537 105.817 159.377C105.42 159.059 105.02 158.898 104.62 158.58C103.823 158.101 103.023 157.622 102.226 157.304L97.0381 154.91L98.0336 153.637Z" fill="white"/>
											<path d="M120.988 160.653C121.388 161.131 121.785 161.771 121.986 162.089L123.183 163.523C123.98 164.48 124.979 165.277 126.176 166.074C128.371 167.511 130.768 168.787 133.562 169.584C134.161 169.744 134.958 169.905 135.556 170.062C136.356 170.223 136.955 170.223 137.752 170.384C139.15 170.541 140.747 170.541 142.143 170.541C145.138 170.381 147.932 169.902 150.525 168.947H150.327L154.718 165.277C158.907 165.12 162.901 166.235 165.894 168.626C162.901 166.395 158.712 165.277 154.718 165.598H154.916L150.925 169.265C148.33 170.381 145.337 171.017 142.143 171.178C140.617 171.337 139.079 171.337 137.553 171.178C136.753 171.178 135.956 171.02 135.358 170.859C134.558 170.702 133.959 170.538 133.162 170.381C130.17 169.584 127.574 168.468 125.177 166.874C123.98 166.074 122.783 165.277 121.986 164.323C121.586 163.844 120.988 163.365 120.588 162.886C120.188 162.407 119.791 161.771 119.391 161.292L120.988 160.653Z" fill="white"/>
											<path d="M131.565 159.537V158.58C131.565 157.943 131.565 156.986 131.965 155.87C132.164 155.231 132.362 154.594 132.964 154.116C133.562 153.476 134.359 152.997 135.159 152.679C136.155 152.358 137.153 152.519 137.953 152.519C138.949 152.519 139.749 152.679 140.747 152.84C144.339 153.319 147.93 154.116 150.327 155.07C152.922 155.87 154.318 156.667 154.318 156.667C154.318 156.667 152.721 156.028 150.128 155.231C147.535 154.434 143.939 153.795 140.348 153.637C139.548 153.637 138.552 153.476 137.752 153.476C136.952 153.476 136.155 153.476 135.358 153.797C133.959 154.273 133.562 155.392 133.361 156.346C133.162 157.304 133.162 158.261 133.162 158.74C133.162 159.377 133.361 159.698 133.361 159.698L131.565 159.537Z" fill="white"/>
										</g>
										<defs>
											<clipPath id="clip0_2048_1302">
												<rect width="166" height="191" fill="white"/>
											</clipPath>
										</defs>
									</svg>
								</div>
								<h2 class="content_titre_left_bloc_vert">Désherbage vapeur
									<br/>
									ou à l'eau chaude</h2>
							</div>
							<div class="col-md-7">
								<div class="content_text_bloc_vert">
									Le desherbage eau chaude à 150° C provoque la dilatation de l'eau contenue dans les cellules des plantes jusqu’à en provoquer leurs éclatement. De plus, au-delà de 80 °C les protéines chlorophylliennes contenues dans les plantes coagulent et tout le processus de photosynthèse est stoppé.
								</div>
								<div class="content_bloc_telecharger_fichier_nettoyage">
									<a href="" class="btn_telecharger_fichier" download>
										<span class="icon_download">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
												<path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM0 16V11H2V14H14V11H16V16H0Z" fill="currentColor"/>
											</svg>
										</span>
										<span class="text_download">Télécharger la brochure commerciale</span>
									</a>
									<a href="" class="btn_telecharger_fichier" download>
										<span class="icon_download">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
												<path d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM0 16V11H2V14H14V11H16V16H0Z" fill="currentColor"/>
											</svg>
										</span>
										<span class="text_download">Télécharger le flyer désherbage</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="content_bloc_nettoyage">
						<div class="row">
							<div class="col-md-4 content_bloc_nettoyage_left">
								<h3>Le principe du désherbage vapeur ou à l'eau chaude</h3>
								<p>Le STEAM_Tec, générateur de vapeur, transforme l’eau en vapeur ou en eau chaude selon la programmation choisie par l’opérateur. Le temps de mise en œuvre est ultra rapide car le STEAM_Tec peut monter jusqu’à 150 °C en moins de 2 minutes !
																																																																								La vapeur est acheminée sur les surfaces à traiter par des accessoires de désherbage plaqués au sol. La concentration de la température sous les cloches de désherbage favorise les échanges thermiques entre la température de la vapeur et l’eau contenue dans la cellule de la plante.
																																																																								Au contact de la vapeur au-delà de 120 °C, l’eau contenue dans la cellule se dilate, jusqu’à provoquer l’éclatement de la paroi cellulaire. De plus, au-delà de 80 °C les protéines chlorophylliennes de la plante coagulent et tout le processus de photosynthèse est stoppé.</p>
							</div>
							<div class="col-md-8 content_bloc_nettoyage_right">
								<img src="{{ asset('assets/images/image_principe_desherbage.webp') }}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_bloc_nettoyage content_bloc_nettoyage_full_width" id="avantage_methode">
			<div class="container">
				<div class="row">
					<div class="col-md-6 content_bloc_nettoyage_left">
						<h3>Les avantages de la méthode</h3>
						<p>Le désherbage à la vapeur peut s’effectuer par tous les temps (vent, forte chaleur, froid…) et sur toutes les surfaces, qu’elles soient fragiles ou non. La vapeur traite efficacement les plantes herbacées, les mousses et les lichens.
																																										La flexibilité du réglage de la température permet à la STEAM_Tec d’être utilisée aussi bien en désherbeur vapeur qu’en désherbeur à eau chaude. 
																																										La diversité des accessoires permet à la STEAM_Tec de désherber en ponctuel et jusqu’à 1 mètre. Cette flexibilité rend le désherbage très efficace sur les petites et grandes surfaces.</p>
					</div>
					<div class="col-md-6 content_bloc_nettoyage_right">
						<h4>Le désherbage vapeur respecte l’environnement :</h4>
						<ul>
							<li>Pas de risque d’incendie dans les périodes sensibles</li>
							<li>Pas de projection de graviers, ni dégradation des supports</li>
							<li>Solution sans produits chimiques (phytosanitaire et pesticides)</li>
							<li>Faible consommation d’eau (environ 150 L / heure selon l’accessoire)</li>
						</ul>
					</div>
				</div>
			</div>
			<div></div>
		</div>
		<div class="content_bloc_image_nettoyage">
			<div class="container">
				<ul class="content_liste_text_droite_entete_accueil">
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewbox="0 0 38 38" fill="none">
							<path d="M37.75 25V13C37.75 12.4033 37.5129 11.831 37.091 11.409C36.669 10.9871 36.0967 10.75 35.5 10.75H27.25V2.5C27.25 1.90326 27.0129 1.33097 26.591 0.90901C26.169 0.487053 25.5967 0.25 25 0.25H2.5C1.90326 0.25 1.33097 0.487053 0.90901 0.90901C0.487053 1.33097 0.25 1.90326 0.25 2.5V13V25C0.25 25.5967 0.487053 26.169 0.90901 26.591C1.33097 27.0129 1.90326 27.25 2.5 27.25H10.75V35.5C10.75 36.0967 10.9871 36.669 11.409 37.091C11.831 37.5129 12.4033 37.75 13 37.75H35.5C36.0967 37.75 36.669 37.5129 37.091 37.091C37.5129 36.669 37.75 36.0967 37.75 35.5V25ZM25.9375 33.25L4.75 12.0625V7.9375L30.0625 33.25H25.9375ZM7.9375 4.75H12.0625L33.25 25.9375V30.0625L7.9375 4.75ZM33.25 19.5625L28.9375 15.25H33.25V19.5625ZM22.75 9.0625L18.4375 4.75H22.75V9.0625ZM4.75 18.4375L9.0625 22.75H4.75V18.4375ZM15.25 28.9375L19.5625 33.25H15.25V28.9375Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<p>Utilisable sur tous les revêtements sans projection ni dégradation</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="48" height="38" viewbox="0 0 48 38" fill="none">
							<path d="M47.1788 2.43438C47.1462 1.88457 46.9131 1.36579 46.5237 0.976331C46.1342 0.586875 45.6155 0.353795 45.0656 0.321252C35.0756 -0.267498 27.0281 2.82813 23.5331 8.5975C21.2569 12.3475 21.1781 16.8794 23.2594 21.2163C22.3693 22.3511 21.6585 23.6158 21.1519 24.9663L19.3331 23.1475C20.6813 20.0031 20.5388 16.7519 18.8831 14.0181C16.2619 9.6925 10.2919 7.375 2.91564 7.8025C2.36583 7.83505 1.84705 8.06812 1.45759 8.45758C1.06814 8.84704 0.835056 9.36582 0.802513 9.91563C0.375013 17.2919 2.69251 23.2619 7.02189 25.8831C8.49022 26.7781 10.1773 27.2498 11.8969 27.2463C13.3629 27.2342 14.8112 26.9235 16.1531 26.3331L20.25 30.4375V35.5C20.25 36.0967 20.4871 36.669 20.909 37.091C21.331 37.513 21.9033 37.75 22.5 37.75C23.0968 37.75 23.669 37.513 24.091 37.091C24.513 36.669 24.75 36.0967 24.75 35.5V29.9706C24.7454 27.9594 25.3673 25.9966 26.5294 24.355C28.4105 25.2497 30.4634 25.7256 32.5463 25.75C34.7879 25.7553 36.9875 25.1415 38.9025 23.9763C44.6719 20.4719 47.7675 12.4225 47.1788 2.43438ZM9.35251 22.0338C6.87939 20.5338 5.38126 16.885 5.25939 12.2594C9.88501 12.3813 13.5356 13.8813 15.0338 16.3525C15.6196 17.3054 15.8599 18.4309 15.7144 19.54L13.59 17.4081C13.1673 16.9854 12.594 16.748 11.9963 16.748C11.3985 16.748 10.8252 16.9854 10.4025 17.4081C9.97982 17.8308 9.74236 18.4041 9.74236 19.0019C9.74236 19.5996 9.97982 20.1729 10.4025 20.5956L12.5288 22.7219C11.4227 22.8585 10.3029 22.6159 9.35251 22.0338ZM36.5719 20.125C34.5731 21.3344 32.2594 21.5631 29.8575 20.83L36.8419 13.8475C37.2646 13.4248 37.502 12.8515 37.502 12.2538C37.502 11.656 37.2646 11.0827 36.8419 10.66C36.4192 10.2373 35.8459 9.99985 35.2481 9.99985C34.6504 9.99985 34.0771 10.2373 33.6544 10.66L26.67 17.6425C25.9444 15.25 26.1731 12.9269 27.375 10.9375C29.7694 6.98313 35.4375 4.73688 42.75 4.75C42.7763 12.0625 40.5263 17.7213 36.5719 20.125Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>Zéro produit chimique</h3>
							<p>traitement curatif par l’action de la très haute température</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewbox="0 0 42 42" fill="none">
							<path d="M30 38.5C30 39.0933 29.8241 39.6733 29.4944 40.1667C29.1648 40.66 28.6962 41.0445 28.1481 41.2716C27.5999 41.4987 26.9967 41.5581 26.4147 41.4423C25.8328 41.3266 25.2982 41.0408 24.8787 40.6213C24.4591 40.2017 24.1734 39.6672 24.0576 39.0852C23.9419 38.5033 24.0013 37.9001 24.2284 37.3519C24.4554 36.8037 24.8399 36.3352 25.3333 36.0055C25.8266 35.6759 26.4067 35.5 27 35.5C27.7956 35.5 28.5587 35.816 29.1213 36.3786C29.6839 36.9412 30 37.7043 30 38.5ZM18 35.5C17.4067 35.5 16.8266 35.6759 16.3333 36.0055C15.8399 36.3352 15.4554 36.8037 15.2284 37.3519C15.0013 37.9001 14.9419 38.5033 15.0576 39.0852C15.1734 39.6672 15.4591 40.2017 15.8787 40.6213C16.2982 41.0408 16.8328 41.3266 17.4147 41.4423C17.9967 41.5581 18.5999 41.4987 19.1481 41.2716C19.6962 41.0445 20.1648 40.66 20.4944 40.1667C20.8241 39.6733 21 39.0933 21 38.5C21 37.7043 20.6839 36.9412 20.1213 36.3786C19.5587 35.816 18.7956 35.5 18 35.5ZM9 35.5C8.40666 35.5 7.82664 35.6759 7.33329 36.0055C6.83994 36.3352 6.45542 36.8037 6.22836 37.3519C6.0013 37.9001 5.94189 38.5033 6.05764 39.0852C6.1734 39.6672 6.45912 40.2017 6.87868 40.6213C7.29824 41.0408 7.83279 41.3266 8.41473 41.4423C8.99667 41.5581 9.59987 41.4987 10.1481 41.2716C10.6962 41.0445 11.1648 40.66 11.4944 40.1667C11.8241 39.6733 12 39.0933 12 38.5C12 37.7043 11.6839 36.9412 11.1213 36.3786C10.5587 35.816 9.79565 35.5 9 35.5ZM41.25 15.25C41.2455 19.2268 39.6637 23.0395 36.8517 25.8516C34.0396 28.6637 30.2269 30.2455 26.25 30.25H11.25C8.46523 30.25 5.79451 29.1437 3.82538 27.1746C1.85625 25.2054 0.75 22.5347 0.75 19.75C0.75 16.9652 1.85625 14.2945 3.82538 12.3253C5.79451 10.3562 8.46523 9.24995 11.25 9.24995C11.6503 9.24995 12.0503 9.27249 12.4481 9.31745C13.8162 6.1462 16.2356 3.54351 19.2988 1.94804C22.3619 0.352569 25.8814 -0.138138 29.2642 0.558624C32.6469 1.25539 35.686 3.09702 37.8693 5.77313C40.0526 8.44924 41.2466 11.7962 41.25 15.25ZM36.75 15.25C36.7335 12.5271 35.6609 9.91681 33.7582 7.96893C31.8556 6.02104 29.2712 4.88753 26.5495 4.80709C23.8277 4.72665 21.1809 5.70557 19.1665 7.53769C17.1521 9.36981 15.9273 11.9122 15.75 14.6293C15.7157 15.2261 15.4457 15.7847 14.9995 16.1824C14.5533 16.5801 13.9674 16.7843 13.3706 16.75C12.7739 16.7156 12.2152 16.4457 11.8175 15.9995C11.4198 15.5532 11.2157 14.9673 11.25 14.3706C11.2612 14.1625 11.2781 13.9562 11.2987 13.75H11.25C9.6587 13.75 8.13258 14.3821 7.00736 15.5073C5.88214 16.6325 5.25 18.1587 5.25 19.75C5.25 21.3413 5.88214 22.8674 7.00736 23.9926C8.13258 25.1178 9.6587 25.75 11.25 25.75H26.25C29.0339 25.747 31.7028 24.6398 33.6713 22.6713C35.6398 20.7028 36.747 18.0338 36.75 15.25Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<p>Utilisable par tous les temps sans risque (vent, pluie, sècheresse …)</p>
						</div>
					</li>
					<li>
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="45" viewbox="0 0 36 45" fill="none">
							<path d="M19.29 1.15688C18.9119 0.892273 18.4615 0.750351 18 0.750351C17.5385 0.750351 17.0881 0.892273 16.71 1.15688C13.8107 3.29357 11.1582 5.74615 8.80125 8.46938C3.53438 14.5181 0.75 20.9288 0.75 27C0.75 31.575 2.56741 35.9626 5.80241 39.1976C9.03741 42.4326 13.425 44.25 18 44.25C22.575 44.25 26.9626 42.4326 30.1976 39.1976C33.4326 35.9626 35.25 31.575 35.25 27C35.25 12.495 19.9425 1.6125 19.29 1.15688ZM18 39.75C14.6196 39.7465 11.3786 38.4021 8.98823 36.0118C6.59789 33.6214 5.25347 30.3804 5.25 27C5.25 20.7544 9 15.1181 12.1312 11.4919C13.919 9.43834 15.8827 7.54489 18 5.83313C20.1173 7.54489 22.081 9.43834 23.8688 11.4919C27 15.1181 30.75 20.7544 30.75 27C30.7465 30.3804 29.4021 33.6214 27.0118 36.0118C24.6214 38.4021 21.3804 39.7465 18 39.75ZM27.3037 29.925C26.8328 31.4223 26.0072 32.7837 24.8974 33.8936C23.7875 35.0035 22.426 35.829 20.9287 36.3C20.7102 36.368 20.4826 36.4027 20.2537 36.4031C19.7159 36.4035 19.1957 36.2112 18.7874 35.8611C18.3791 35.511 18.1098 35.0262 18.0282 34.4945C17.9466 33.9629 18.0581 33.4196 18.3425 32.9632C18.627 32.5067 19.0655 32.1672 19.5788 32.0062C20.3857 31.7527 21.1194 31.308 21.7174 30.7099C22.3155 30.1119 22.7602 29.3782 23.0138 28.5713C23.1024 28.2893 23.2457 28.0276 23.4355 27.8011C23.6253 27.5745 23.8578 27.3876 24.1199 27.2509C24.6491 26.9749 25.2662 26.9204 25.8356 27.0994C26.1176 27.188 26.3793 27.3313 26.6058 27.5211C26.8324 27.7109 27.0193 27.9434 27.156 28.2055C27.2927 28.4675 27.3764 28.7539 27.4024 29.0483C27.4284 29.3427 27.3961 29.6393 27.3075 29.9212L27.3037 29.925Z" fill="#60B454"/>
						</svg>
						<div class="corp_texte">
							<h3>Écologique</h3>
							<p>Faible consommation d’eau</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="content_liste_application_nettoyage">
			<ul class="content_liste_application_nettoyage_inner">
				<li class="list_nettoyage_item" id="temp_desherbage">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h3>En combien de temps le désherbage vapeur ou à eau chaude est-il efficace ?</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>On obtient instantanément un désherbage irréversible de la plante. Au bout de quelques secondes la plante change de couleur (devient verte foncée) et les feuilles tombent (caractéristique de l’éclatement cellulaire). Puis 3-4 jours plus tard, la plante est complètement desséchée, jaunie, détruite.
																														De plus, la vapeur est injectée sous pression au niveau du sol (à une vingtaine de bars) de façon à pouvoir faire pénétrer très rapidement la température de l’eau chaude pour atteindre les racines et neutraliser les graines dans les 3 premiers centimètres du sol.
																														En un seul passage on fait un travail de fond de nettoyage de sol, c’est un désherbage curatif et préventif à la fois.</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/image_liste_desherbage1.webp') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list_nettoyage_item" id="passage_desherbage">
					<div class="container">
						<div class="row">
							<div class="col-md-7">
								<h3>En combien de passages le désherbage à eau chaude est-il efficace ?</h3>
								<span class="content_usage">Applications</span>
								<div class="contenu_list_app_nettoyage">
									<p>La première année, Il faudra compter 5 à 6 passages, puis 4 par an (selon les conditions météo) pour avoir un résultat satisfaisant.
																				Le principe du désherbage vapeur est une action mécanique sur la plante à un instant T. Comme on utilise que de l’eau chaude, il n’y a donc aucun produit ajouté qui fait durer le désherbage dans le temps par une action chimique quelconque. Pour un bon résultat, il faudra programmer un deuxième passage à un intervalle maximum de 6 semaines après le 1er. Cette répétition d’intervention neutralisera les levées de dormances ainsi que les repousses de plantes à racines profondes qui apparaitront dans les semaines qui suivent votre traitement. De cette façon, on empêche la végétation de recoloniser tout l’espace et on obtient la rémanence du désherbage naturellement. Pour les passages suivant, il faudra surveiller la repousse et prévoir le dernier à l’automne.
																				Après plusieurs campagnes d’utilisation, le désherbage deviendra une tâche plus facile et plus rapide d’année en année...</p>
								</div>
							</div>
							<div class="col-md-5">
								<div class="content_img_app_nettoyage">
									<img src="{{ asset('assets/images/image_liste_desherbage2.webp') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="content_video_desherbage">
			<div class="container">
				<div class="content_video_desherbage_inner">
					<h3>Pourquoi utiliser la STEAM_TEC pour désherber ?</h3>
					<h4>La législation contre les pesticides</h4>
					<p>Depuis le 1er janvier 2017, la loi Labbé interdit aux organismes publiques d'utiliser des produits phytosanitaires pour l'entretien des espaces verts, forêts, promenades et voiries. La STEAM_Tec répond parfaitement à toutes les exigences requises grâce au principe du désherbage vapeur (désherbage eau chaude)</p>
					<div class="content_player_video_desherbage">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/qHHHbJSnwsU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<section class="content_decouvrir_gamme">
			<div class="container">
				<span class="content_usage">Accessoires</span>
				<div class="content_titre_et_lien_gamme">
					<h3>Découvrez notre gamme complète<br/>
						d’accessoires pour le nettoyage ou le désherbage
					</h3>
					<a href="{{ path('app_accessoire') }}#accessoire-nettoyage">Voir la gamme d’accessoires</a>
				</div>
			</div>
			<div class="owl-carousel owl-theme">
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="content_image_gamme">
							<img src="{{ asset('assets/images/image_liste_gamme.jpg') }}" alt="gamme" class="img-fluid"/>
						</div>
						<div class="content_texte_gamme">
							<h4>Nom de l’accessoire</h4>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
