<header
	class="container-fluid">
	<!-- Top Bar -->
	<div class="bg-light row">
		<div
			class="container">
			<!-- Contact Information -->
			<div class="row py-2">
				<div class="col-lg-6">
					<ul class="list-unstyled d-flex gap-4 mb-0 liste_contact">
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewbox="0 0 16 14" fill="none">
								<path d="M14.6667 3.00002C14.6667 2.26669 14.0667 1.66669 13.3333 1.66669H2.66666C1.93333 1.66669 1.33333 2.26669 1.33333 3.00002M14.6667 3.00002V11C14.6667 11.7334 14.0667 12.3334 13.3333 12.3334H2.66666C1.93333 12.3334 1.33333 11.7334 1.33333 11V3.00002M14.6667 3.00002L7.99999 7.66669L1.33333 3.00002" stroke="#249FA8" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
							<a href="mailto:contact@steamtec.fr" class="text-decoration-none">contact@steamtec.fr</a>
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
								<g clip-path="url(#clip0_2119_451)">
									<path d="M10.0333 3.33332C10.6845 3.46037 11.2829 3.77883 11.752 4.24795C12.2211 4.71707 12.5396 5.3155 12.6666 5.96666M10.0333 0.666656C11.3862 0.816947 12.6477 1.42277 13.6108 2.38466C14.5739 3.34655 15.1813 4.60733 15.3333 5.95999M14.6666 11.28V13.28C14.6674 13.4657 14.6294 13.6494 14.555 13.8196C14.4806 13.9897 14.3715 14.1424 14.2347 14.2679C14.0979 14.3934 13.9364 14.489 13.7605 14.5485C13.5846 14.6079 13.3982 14.63 13.2133 14.6133C11.1619 14.3904 9.19131 13.6894 7.45998 12.5667C5.84919 11.5431 4.48353 10.1774 3.45998 8.56666C2.33329 6.82746 1.63214 4.84732 1.41331 2.78666C1.39665 2.6023 1.41856 2.4165 1.47764 2.24107C1.53673 2.06565 1.63169 1.90445 1.75649 1.76774C1.88128 1.63103 2.03318 1.5218 2.2025 1.447C2.37183 1.37221 2.55487 1.3335 2.73998 1.33332H4.73998C5.06351 1.33014 5.37717 1.44471 5.62248 1.65568C5.8678 1.86665 6.02803 2.15962 6.07331 2.47999C6.15772 3.12003 6.31428 3.74847 6.53998 4.35332C6.62967 4.59194 6.64908 4.85127 6.59591 5.10058C6.54274 5.34989 6.41922 5.57873 6.23998 5.75999L5.39331 6.60666C6.34235 8.27569 7.72428 9.65762 9.39331 10.6067L10.24 9.75999C10.4212 9.58075 10.6501 9.45722 10.8994 9.40405C11.1487 9.35088 11.408 9.37029 11.6466 9.45999C12.2515 9.68569 12.8799 9.84224 13.52 9.92666C13.8438 9.97234 14.1396 10.1355 14.351 10.385C14.5624 10.6345 14.6748 10.953 14.6666 11.28Z" stroke="#249FA8" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs>
									<clipPath id="clip0_2119_451">
										<rect width="16" height="16" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							<span>03 29 09 15 78 - 06 81 67 64 30</span>
						</li>
						<li>
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16" fill="none">
								<g clip-path="url(#clip0_2119_455)">
									<path d="M14 6.66666C14 11.3333 8 15.3333 8 15.3333C8 15.3333 2 11.3333 2 6.66666C2 5.07536 2.63214 3.54923 3.75736 2.42402C4.88258 1.2988 6.4087 0.666656 8 0.666656C9.5913 0.666656 11.1174 1.2988 12.2426 2.42402C13.3679 3.54923 14 5.07536 14 6.66666Z" stroke="#249FA8" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M8 8.66666C9.10457 8.66666 10 7.77123 10 6.66666C10 5.56209 9.10457 4.66666 8 4.66666C6.89543 4.66666 6 5.56209 6 6.66666C6 7.77123 6.89543 8.66666 8 8.66666Z" stroke="#249FA8" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs>
									<clipPath id="clip0_2119_455">
										<rect width="16" height="16" fill="white"/>
									</clipPath>
								</defs>
							</svg>
							<span>ZA du Moulin, Bulgnéville, France</span>
						</li>
					</ul>

				</div>

				<!-- Social Media Icons -->
				<div class="col-lg-6">
					<ul class="list-unstyled d-flex justify-content-end gap-3 mb-0">
						<li>
							<a href="#" class="text-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
									<path d="M22 12.3038C22 6.74719 17.5229 2.24268 12 2.24268C6.47715 2.24268 2 6.74719 2 12.3038C2 17.3255 5.65684 21.4879 10.4375 22.2427V15.2121H7.89844V12.3038H10.4375V10.0872C10.4375 7.56564 11.9305 6.1728 14.2146 6.1728C15.3088 6.1728 16.4531 6.36931 16.4531 6.36931V8.84529H15.1922C13.95 8.84529 13.5625 9.6209 13.5625 10.4166V12.3038H16.3359L15.8926 15.2121H13.5625V22.2427C18.3432 21.4879 22 17.3257 22 12.3038Z" fill="white"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="text-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewbox="0 0 18 19" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M13 0.242676H5C2.23858 0.242676 0 2.48126 0 5.24268V13.2427C0 16.0041 2.23858 18.2427 5 18.2427H13C15.7614 18.2427 18 16.0041 18 13.2427V5.24268C18 2.48126 15.7614 0.242676 13 0.242676ZM16.25 13.2427C16.2445 15.0353 14.7926 16.4872 13 16.4927H5C3.20735 16.4872 1.75549 15.0353 1.75 13.2427V5.24268C1.75549 3.45003 3.20735 1.99817 5 1.99268H13C14.7926 1.99817 16.2445 3.45003 16.25 5.24268V13.2427ZM13.75 5.49268C14.3023 5.49268 14.75 5.04496 14.75 4.49268C14.75 3.9404 14.3023 3.49268 13.75 3.49268C13.1977 3.49268 12.75 3.9404 12.75 4.49268C12.75 5.04496 13.1977 5.49268 13.75 5.49268ZM9 4.74268C6.51472 4.74268 4.5 6.7574 4.5 9.24268C4.5 11.728 6.51472 13.7427 9 13.7427C11.4853 13.7427 13.5 11.728 13.5 9.24268C13.5027 8.04838 13.0294 6.90225 12.1849 6.05776C11.3404 5.21327 10.1943 4.74002 9 4.74268ZM6.25 9.24268C6.25 10.7615 7.4812 11.9927 9 11.9927C10.5188 11.9927 11.75 10.7615 11.75 9.24268C11.75 7.72388 10.5188 6.49268 9 6.49268C7.4812 6.49268 6.25 7.72388 6.25 9.24268Z" fill="white"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="text-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none">
									<path d="M14.1761 0.242676H16.9362L10.9061 7.02008L18 16.2427H12.4456L8.0951 10.6493L3.11723 16.2427H0.35544L6.80517 8.99348L0 0.242676H5.69545L9.6279 5.3553L14.1761 0.242676ZM13.2073 14.6181H14.7368L4.86441 1.78196H3.2232L13.2073 14.6181Z" fill="white"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="text-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewbox="0 0 18 19" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.242676C0.67157 0.242676 0 0.914246 0 1.74268V16.7427C0 17.5711 0.67157 18.2427 1.5 18.2427H16.5C17.3284 18.2427 18 17.5711 18 16.7427V1.74268C18 0.914246 17.3284 0.242676 16.5 0.242676H1.5ZM5.52076 4.2454C5.52639 5.20165 4.81061 5.79087 3.96123 5.78665C3.16107 5.78243 2.46357 5.1454 2.46779 4.24681C2.47201 3.40165 3.13998 2.72243 4.00764 2.74212C4.88795 2.76181 5.52639 3.40728 5.52076 4.2454ZM9.2797 7.00444H6.75971H6.7583V15.5643H9.4217V15.3646C9.4217 14.9847 9.4214 14.6047 9.4211 14.2246C9.4203 13.2108 9.4194 12.1959 9.4246 11.1824C9.426 10.9363 9.4372 10.6804 9.5005 10.4455C9.7381 9.56798 10.5271 9.00128 11.4074 9.14058C11.9727 9.22908 12.3467 9.55678 12.5042 10.0898C12.6013 10.423 12.6449 10.7816 12.6491 11.129C12.6605 12.1766 12.6589 13.2242 12.6573 14.2719C12.6567 14.6417 12.6561 15.0117 12.6561 15.3815V15.5629H15.328V15.3576C15.328 14.9056 15.3278 14.4537 15.3275 14.0018C15.327 12.8723 15.3264 11.7428 15.3294 10.6129C15.3308 10.1024 15.276 9.59898 15.1508 9.10538C14.9638 8.37128 14.5771 7.76378 13.9485 7.32508C13.5027 7.01287 13.0133 6.81178 12.4663 6.78928C12.404 6.78669 12.3412 6.7833 12.2781 6.77989C11.9984 6.76477 11.7141 6.74941 11.4467 6.80334C10.6817 6.95662 10.0096 7.30678 9.5019 7.92408C9.4429 7.99488 9.3852 8.06678 9.2991 8.17408L9.2797 8.19838V7.00444ZM2.68164 15.5671H5.33242V7.01001H2.68164V15.5671Z" fill="white"/>
								</svg>
							</a>
						</li>
						<li>
							<a href="#" class="text-dark">
								<svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewbox="0 0 21 15" fill="none">
									<path d="M20.593 2.20301C20.4791 1.78041 20.2565 1.39501 19.9474 1.08518C19.6382 0.775338 19.2533 0.551868 18.831 0.437007C17.265 0.00700739 11 7.5965e-06 11 7.5965e-06C11 7.5965e-06 4.73599 -0.00699261 3.16899 0.404007C2.74692 0.524154 2.36282 0.750785 2.05356 1.06214C1.7443 1.3735 1.52028 1.75913 1.40299 2.18201C0.989994 3.74801 0.985994 6.99601 0.985994 6.99601C0.985994 6.99601 0.981994 10.26 1.39199 11.81C1.62199 12.667 2.29699 13.344 3.15499 13.575C4.73699 14.005 10.985 14.012 10.985 14.012C10.985 14.012 17.25 14.019 18.816 13.609C19.2385 13.4943 19.6237 13.2714 19.9336 12.9622C20.2436 12.653 20.4674 12.2682 20.583 11.846C20.997 10.281 21 7.03401 21 7.03401C21 7.03401 21.02 3.76901 20.593 2.20301ZM8.99599 10.005L9.00099 4.00501L14.208 7.01001L8.99599 10.005Z" fill="white"/>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Header -->
	<div class="row">
		<div class="container">
			<div
				class="row align-items-center py-3 content_header_bottom">
				<!-- Logo Column -->
				<div class="col-lg-2">
					<div class="logo">
						<a href="/"><img src="{{ asset('assets/images/logo.png') }}" alt="Steamtec Logo" class="img-fluid"></a>
					</div>
				</div>

				<!-- Navigation Column -->
				<div class="col-lg-7">
					<nav class="navbar navbar-expand-lg">
						<ul class="navbar-nav mx-auto">
							<li class="nav-item {{ app.request.attributes.get('_route') == 'app_nettoyage' ? 'active' : '' }}">
								<a class="nav-link" href="{{path('app_nettoyage')}}">Nettoyage
								</a>
								<div class="sous-menu">
									<a href="{{ path('app_nettoyage') }}#avantage_methode">Les avantages de la méthode</a>
									<a href="{{ path('app_nettoyage') }}#nettoyage_toiture">Nettoyage de toitures vapeur</a>
									<a href="{{ path('app_nettoyage') }}#nettoyage_facade">Nettoyage de facades vapeur</a>
									<a href="{{ path('app_nettoyage') }}#nettoyage_sol">Nettoyage de sols et terrasses vapeur</a>
									<a href="{{ path('app_nettoyage') }}#nettoyage_monument">Nettoyage de monuments et monuments historiques vapeur</a>
									<a href="{{ path('app_nettoyage') }}#nettoyage_bois">Nettoyage de bois vapeur</a>
									<a href="{{ path('app_nettoyage') }}#autre_application">Autres applications</a>
								</div>
							</li>
							<li class="nav-item {{ app.request.attributes.get('_route') == 'app_desherbage' ? 'active' : '' }}">
								<a class="nav-link" href="{{path('app_desherbage')}}">Désherbage</a>
								<div class="sous-menu">
									<a href="{{ path('app_desherbage') }}#avantage_methode">Les avantages de la méthode</a>
                                    <a href="{{ path('app_desherbage') }}#temp_desherbage">En combien de temps le désherbage vapeur ou à eau chaude est-il efficace ?</a>
                                     <a href="{{ path('app_desherbage') }}#passage_desherbage">En combien de passages le désherbage à eau chaude est-il efficace ?</a>
								</div>
							</li>
							<li class="nav-item {{ app.request.attributes.get('_route') == 'app_machine' ? 'active' : '' }}">
								<a class="nav-link" href="{{ path('app_machine') }}">Machines</a>
							</li>
							<li class="nav-item  {{ app.request.attributes.get('_route') == 'app_accessoire' ? 'active' : '' }}">
								<a class="nav-link" href="{{ path('app_accessoire') }}">Accessoires</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Configurations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Utilisateurs</a>
							</li>
							<li class="nav-item {{ app.request.attributes.get('_route') == 'app_about' ? 'active' : '' }}">
								<a class="nav-link" href="{{ path('app_about') }}">À propos de nous</a>
							</li>
						</ul>
					</nav>
				</div>

				<!-- Buttons Column -->
				<div class="col-lg-3 d-flex justify-content-end gap-2">
					<a href="{{path('app_contact')}}" class="btn btn-outline-primary btn_contact">Nous contacter</a>
					<a href="{{path('app_security')}}" class="btn btn-primary btn_se_connecter">Se connecter</a>
				</div>
			</div>
		</div>
	</div>
</header>
