{% extends "layout/app.html.twig" %}

{% block content %}
    <h1>Profile {{app.user.firstname}}</h1>


    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.socity) }}
    {{ form_end(form) }}
{% endblock %}